@mixin base() {
    width: auto;
    padding: 2px 12px;
    border-radius: .9375rem;

    will-change: background-color;
    transition: all 100ms cubic-bezier(0.2, 0.2, 0.38, 0.9);
}

.tag {
    display: inline-flex;
    font-size: 0.825rem;
    line-height: 1.333;
    margin: 0.25rem;
    font-weight: 500;
    max-width: 100%;
    min-width: max-content;
    align-items: center;
    justify-content: center;

    .blue {
        @include base();
        color: var(--global-blue-10);
        background-color: var(--global-blue-70);

        &:hover {
            background-color: var(--global-blue-80);
        }
    }

    .green {
        @include base();
        color: var(--global-green-10);
        background-color: var(--global-green-70);

        &:hover {
            background-color: var(--global-green-80);
        }
    }

    .purple {
        @include base();
        color: var(--global-purple-10);
        background-color: var(--global-purple-70);

        &:hover {
            background-color: var(--global-purple-80);
        }
    }

    .magenta {
        @include base();
        color: var(--global-magenta-10);
        background-color: var(--global-magenta-70);

        &:hover {
            background-color: var(--global-magenta-80);
        }
    }

    .yellow {
        @include base();
        color: var(--global-yellow-10);
        background-color: var(--global-yellow-70);

        &:hover {
            background-color: var(--global-yellow-80);
        }
    }

    .orange {
        @include base();
        color: var(--global-orange-10);
        background-color: var(--global-orange-70);

        &:hover {
            background-color: var(--global-orange-80);
        }
    }

    .red {
        @include base();
        color: var(--global-red-10);
        background-color: var(--global-red-70);

        &:hover {
            background-color: var(--global-red-80);
        }
    }
}

.right {
    margin-left: auto;
    margin-right: 1.0rem;
}

.left {
    margin-right: auto;
    margin-left: 1.0rem;
}