@mixin productive-motion () {
    transition: all 215ms cubic-bezier(0.2, 0.2, 0.38, 0.9);
}

.toolbar {
    align-items: center;
    background-color: var(--global-layer-01);

    display: flex;
    justify-content: space-between;
    letter-spacing: 0.16px;
    line-height: 1.285;
    margin: 0;
    overflow-x: auto;
    padding: 0;
    vertical-align: initial;
    width: 100%;

    //
    //.left {
    //    margin-right: auto;
    //    margin-left: 0.5rem;
    //    align-items: center;
    //    display: flex;
    //    min-height: 2.0rem;
    //    width: auto;
    //}

    button {
        @include productive-motion();
    }

    button.primary {
        font-size: 0.875rem;
        font-weight: 500;
        border-radius: 0;
        appearance: none;
        border: 1px solid #0000;
        background-color: var(--global-background-button-primary);
        color: white;

        max-width: 10rem;
        min-height: 3rem;

        outline: none;
        padding: calc(0.875rem - 3px) 50px calc(0.875rem - 3px) 15px;
        position: relative;
        text-align: left;
        text-decoration: none;
        align-items: center;
        justify-content: center;

        // transition: background 70ms cubic-bezier(0,0,.38,.9), box-shadow 70ms cubic-bezier(0,0,.38,.9), border-color 70ms cubic-bezier(0,0,.38,.9), outline 70ms cubic-bezier(0,0,.38,.9);

        svg {
            flex-shrink: 0;
            position: absolute;
            right: 1rem;

            align-items: center;
            justify-content: center;
            vertical-align: middle;
            // transition: background 70ms cubic-bezier(0,0,.38,.9), box-shadow 70ms cubic-bezier(0,0,.38,.9), border-color 70ms cubic-bezier(0,0,.38,.9), outline 70ms cubic-bezier(0,0,.38,.9);
        }
    }

    button.icon {
        border-radius: 0;
        appearance: none;
        border: 1px solid #0000;
        background-color: var(--global-background-button-primary);
        color: white;

        padding: 1.25rem;

        max-width: fit-content;
        height: 2.0rem;

        outline: none;
        position: relative;
        text-align: center;
        text-decoration: none;
        align-items: center;
        justify-content: center;

        // transition: background 70ms cubic-bezier(0,0,.38,.9), box-shadow 70ms cubic-bezier(0,0,.38,.9), border-color 70ms cubic-bezier(0,0,.38,.9), outline 70ms cubic-bezier(0,0,.38,.9);

        &:hover {
            background: var(--global-background-button-primary-hover);
        }

        &:focus {
            outline-offset: -2px;
            outline: 2px solid white;
        }

        &:focus:active {
            background: var(--global-background-button-primary-active-focus);
        }

        &:focus:active:hover {
            background: var(--global-background-button-primary-active-focus-hover);
        }

        svg {
            flex-shrink: 0;
            position: absolute;
            right: unset;

            align-items: center;
            justify-content: center;
            vertical-align: middle;
            // transition: background 70ms cubic-bezier(0,0,.38,.9), box-shadow 70ms cubic-bezier(0,0,.38,.9), border-color 70ms cubic-bezier(0,0,.38,.9), outline 70ms cubic-bezier(0,0,.38,.9);
        }
    }

    button.active {
        cursor: pointer;
        opacity: 1.0;
        display: inline-flex;
    }

    button:hover {
        background: var(--global-background-button-primary-hover);
    }

    button.disabled {
        cursor: default;
    }

    button.right {
        margin-left: auto;
        align-items: center;
        display: flex;
        min-height: 2.0rem;
        width: auto;
    }

    button.right:last-of-type {
        margin-right: 0.0rem;
    }
}