.component {
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: black;

    user-select: none;

    height: var(--global-footer-height);
    border-top: 1px solid var(--global-border-subtle-00);
    border-bottom: 1px solid var(--global-border-subtle-00);
    padding-left: var(--global-page-padding);
    padding-right: var(--global-page-padding);

    justify-content: center;
}

.bold {
    font-weight: bold;
}