.blog-grid {
    .blog-side-panel {
        margin-right: 1.5rem;
    }

    .blog-grid-call-to-action {
        margin-left:  -1.5rem;
        margin-right: -1.5rem;
    }

    .blog-primary-content {
        display:         flex;
        flex-wrap:       wrap;

        justify-content: space-around;

        flex-basis:      100%;
        max-width:       100%;

        margin-bottom:   1.5rem;

        .blog-content-card {
            background: rgb(0, 0, 0);
            padding:    1.25rem;

            .blog-content-card-header-image {
                width: 100%;
            }
        }

        .blog-primary-content-showcase-item {
            flex-basis: calc(42.5% - 1.0rem);
            max-width:  calc(42.5% - 1.0rem);
            margin:     0.0rem 0.0rem 0.0rem 0.0rem;
        }

        .blog-primary-content-normalized-item {
            .blog-content-card-header-title {
                text-align:    left;
                margin-top:    1.0rem;
                margin-bottom: 1.0rem;
            }
        }

        .blog-primary-content-container {
            flex-basis: calc(25% - 1.0rem);
            max-width:  calc(25% - 1.0rem);
            margin:     0.0rem 0.0rem 0.0rem 0.5rem;

            .blog-primary-content-normalized-item {
                margin-left:  auto;
                margin-right: auto;
            }

            .blog-primary-content-normalized-item:not(:last-of-type) {
                margin-bottom: 1.5rem;
            }
        }
    }
}