/* =============================================================================
 --> Application Style Sheet (SCSS)
*//*========================================================================= */

$prefix: "cds";

/* -------------------
 --> Namespace Imports
*//*-----------------*/

@use "@carbon/react/scss/breakpoint" as *;

/* -------------------
 --> Global Overwrites
*//*------------------ */

/* -------------------------
 --> Table User Agent Styles
*/
// -----------------------

th, tr, td {
    box-shadow:     none !important;
    vertical-align: middle !important;
    outline:        none !important;
}

// Primary Content Container
.#{$prefix}--content {
    background: var(--cds-background);
    margin-top: 3.0rem;
    min-height: calc(100vh - 3.0rem);
    padding:    0.0rem;
}

// Spinner
.#{$prefix}--inline-loading {
    height:     1.25rem;
    min-height: 1.25rem;
}

// Content Container + Grid
.#{$prefix}--content .#{$prefix}--css-grid {
    max-width: 100%;
    @include breakpoint(md) {
        padding-left:   20px;
        padding-right:  20px;
        padding-bottom: 20px;
    }
}

// Menu Notification Border
.c4p--notifications-panel__container .c4p--notifications-panel__notification:focus {
    //box-shadow: inset 0 0 0 2px var(--cds-focus),inset 0 0 0 2px var(--cds-focus);
}

.c4p--notifications-panel__container .c4p--notifications-panel__notification-today:not(:first-of-type):before, .c4p--notifications-panel__container .c4p--notifications-panel__notification-yesterday:not(:first-of-type):before, .c4p--notifications-panel__container .c4p--notifications-panel__notification-previous:not(:first-of-type):before {
    top: 0.295rem;
}

.c4p--notifications-panel__settings-button {
    .cds--btn__icon {
        margin-left: 0.0rem;
    }
}

// Menu Notifications Label
.c4p--notifications-panel__container {
    .c4p--notifications-panel__time-section-label {
        z-index:  1;
        position: absolute;
        width:    100%;
        top:      6.5rem;
    }

    .c4p--notifications-panel__notification {
        .c4p--notifications-panel__notifications-link {
            margin-top: 0.5rem;
        }
    }

    .c4p--notifications-panel__notification:first-of-type {
        margin-top: 1.75rem;
    }
}

.c4p--notifications-panel__container .c4p--notifications-panel__notification .c4p--notifications-panel__notification-content .c4p--notifications-panel__notification-read-more-button, .c4p--notifications-panel__container .c4p--notifications-panel__notification .c4p--notifications-panel__notification-content .c4p--notifications-panel__notification-read-less-button {
    padding:    0.25rem;
    margin-top: 0.25rem;
    min-width:  unset;
}

// Data Table Borders
tr.#{$prefix}--parent-row.#{$prefix}--data-table--selected:not(.#{$prefix}--expandable-row):hover td {
    border-top:    1px solid var(--cds-layer-selected-hover);
    border-bottom: 1px solid var(--cds-layer-selected-hover);
    background:    var(--cds-layer-selected-hover);
    box-shadow:    0 1px var(--cds-layer-selected-hover);
}

// Data Table Checkboxes
.#{$prefix}--data-table th.#{$prefix}--table-expand + .#{$prefix}--table-column-checkbox,
.#{$prefix}--data-table td.#{$prefix}--table-expand + .#{$prefix}--table-column-checkbox {
    min-width: 35px;
}

// Data Table Highlight Selected Row (*:--last-of-type)
tr.#{$prefix}--parent-row.#{$prefix}--data-table--selected.#{$prefix}--expandable-row + tr[data-child-row]:last-of-type td {
    padding-bottom: unset;
}

// Code Snippets
.#{$prefix}--snippet--single .#{$prefix}--snippet-container:focus {
    outline:        2px solid var(--cds-focus, #0F62FE);
    outline-offset: -2px;
    width:          100%;
}

// Data Table Pagination Separator
.#{$prefix}--data-table-container + .#{$prefix}--pagination {
    border-top: 1px solid var(--cds-border-subtle);
}

// Data Table Header Background
.#{$prefix}--data-table thead {
    background-color: var(--cds-layer-accent);
}

// Data Table Title + Header Separator
.#{$prefix}--data-table-header {
    border-bottom: 1px solid var(--cds-border-inverse) inset;
}

// Data Table Data Cell Expander
tr.#{$prefix}--parent-row.#{$prefix}--data-table--selected:not(.#{$prefix}--expandable-row):hover td {
    border-top:    1px solid var(--cds-layer-active);
    border-bottom: 1px solid var(--cds-layer-active);
    background:    var(--cds-layer-active);
    box-shadow:    0 1px var(--cds-layer-active);
}

// Data Table Data Cell Expander
tr.#{$prefix}--parent-row.#{$prefix}--data-table--selected:first-of-type td {
    border-bottom: 1px solid var(--cds-layer-active) !important;
    border-top:    1px solid var(--cds-layer-active) !important;
}

// Data Table Row & Expandable Optimizations
tr.#{$prefix}--parent-row:not(.#{$prefix}--expandable-row) + tr[data-child-row] {
    opacity: 0;
}

tr.#{$prefix}--parent-row {
    will-change: background !important
}

tr.#{$prefix}--child-row {
    will-change: height !important
}

tr[data-parent-row] {
    will-change: background !important;
}

tr[data-child-row] {
    will-change: height !important;
}

/* ------------------
 --> Media Queries
*//*----------------- */

@media (max-width: 42rem) {
    .#{$prefix}--content .#{$prefix}--css-grid {
        padding-left:   1.0rem;
        padding-right:  1.0rem;
        padding-bottom: 1.0rem;
    }
}

@media (min-width: 42rem) and (min-width: 42rem) {
    .#{$prefix}--content .#{$prefix}--css-grid {
        padding-left:   1.5rem;
        padding-right:  1.5rem;
        padding-bottom: 1.5rem;
    }
}

@media (min-width: 99rem) {
    .#{$prefix}--inline-notification {
        max-width: 100%;
    }
}

;

/* -------------------
 --> Functional Mixins
*//*-----------------*/

// @Unselectable, Highlightable Element(s)

@mixin disable-selection { /*** Supported by Chrome, Edge, Opera and Firefox */
    // - [] @Task: Test on Mobile
    // >>> -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    // - [] @Task: Test on Mobile
    // >>> -webkit-touch-callout: none; /* iOS Safari */

    -webkit-user-select: none; /* Safari */
    -khtml-user-select:  none; /* Konqueror HTML */
    -moz-user-select:    none; /* Old versions of Firefox */
    -ms-user-select:     none; /* Internet Explorer/Edge */

    user-select:         none;
}

@mixin enable-selection-auto { /*** Supported by Chrome, Edge, Opera and Firefox */
    // - [] @Task: Test on Mobile
    // >>> -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    // - [] @Task: Test on Mobile
    // >>> -webkit-touch-callout: none; /* iOS Safari */

    -webkit-user-select: auto; /* Safari */
    -khtml-user-select:  auto; /* Konqueror HTML */
    -moz-user-select:    auto; /* Old versions of Firefox */
    -ms-user-select:     auto; /* Internet Explorer/Edge */

    user-select:         auto;
}

@mixin enable-selection-all { /*** Supported by Chrome, Edge, Opera and Firefox */
    // - [] @Task: Test on Mobile
    // >>> -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    // - [] @Task: Test on Mobile
    // >>> -webkit-touch-callout: none; /* iOS Safari */

    -webkit-user-select: all; /* Safari */
    -khtml-user-select:  all; /* Konqueror HTML */
    -moz-user-select:    all; /* Old versions of Firefox */
    -ms-user-select:     all; /* Internet Explorer/Edge */

    user-select:         all;
}

/* -------------------
 --> Utility Selectors
*//*-----------------*/

.no-select {
    @include disable-selection();
}

.unselectable {
    @include disable-selection();
}

.no-highlight {
    @include disable-selection();
}

.select-all {
    @include enable-selection-all();
}

.enable-select-all {
    @include enable-selection-all();
}

/*
    @Task -- Theme
    @media (prefers-color-scheme: dark) {
        [data-color-mode=auto][data-dark-theme=dark] {
            --color-example-1: red;
            --color-example-2: red;
            --color-example-3: red;
        }
    }

    @media (prefers-color-scheme: dark) {
        [data-color-mode=auto][data-dark-theme=dark] {
            --color-example-1: red;
            --color-example-2: red;
            --color-example-3: red;
        }
    }
*/
