@use "sass:map";

/* =============================================================================
 --> Package Style Sheet (SCSS)
================================================================================ */

/* ---------------------
 --> Global Variable(s)
------------------------ */

$Prefix: "io" !default;

@use "@carbon/styles/scss/config" with ($prefix: "cds");

@use "@carbon/styles/scss/themes" as *;
@use "@carbon/styles/scss/theme" with (
    $fallback: $g100,
    $theme: (
        custom-token-01: #000000,
        popover-offset: 0.0rem
    )
);

@use "@carbon/styles" as *;

:root {
    @include theme.theme(theme.$theme);
}

html {
    background:       #161616 !important;
    background-color: #161616 !important;
}