.message {
    font-size: 0.895rem;
    margin-left: 0.35rem;
}

.icon {
    display:     flex;
    align-items: center;
}

.success {
    margin-left: 0.5rem;
    width:            0.5rem;
    height:           0.5rem;
    background-color: var(--cds-support-success);
    border-radius:    50%;
}