.selectable {
    margin: 1.0rem;
    outline: none;

    .cds--tile {
        outline: none;
    }

    .cds--tile--selectable {
        outline: none;
    }

    .cds--tile.cds--tile--selectable {
        outline: none;
    }

    .cds--tile--is-selected {
        outline: 2px solid white;
    }
}

.full {
    width: 100%;
}