.io-dashboard-control-primary-content {
    transition-property: margin-left;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.2, 0.2, 0.38, 0.9);

    .bx--side-nav ~ .bx--content {
        padding-top: 3.0rem;
    }
}

.bx--content.io-dashboard-control-primary-content {
    padding-top: 3.0rem;
}
