.io-nexus-mobile-device-container {
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
    color: black;

    display: flex;
    align-items: center;

    *,
    *::before,
    *::after {
        transition: 0.185s;
        transition-timing-function: cubic-bezier(0.3, 0.1, 0.125, 0.25);
        height: 100%;
    }

    //
    //main {
    //    background: #242627;
    //    padding: 5.0rem;
    //    width: 100%;
    //    text-align: center;
    //}

    div.nexus-device.iphone-x {
        display: flex;
        margin: auto;
    }

    .io-grid-col-padded {
        padding-right: 2.5rem;
    }

    .io-mobile-container {
        height: 815px;
        text-align: center;
        background: radial-gradient(ellipse at bottom,
                rgba(85, 85, 85, 1) 0%,
                rgba(125, 125, 125, 1) 0%,
                rgba(5, 5, 5, 1) 105%
        );

        .io-mobile-container-header-section {
            display: inline-grid;
            margin-top: 3rem;

            h1 {
                font-size: 50px;
                font-weight: 500;
                display: inline-block;
                padding-right: 12px;
                animation: type .5s alternate infinite;
                margin-bottom: 0.5rem;
            }

            h2 {
                font-weight: 400;
            }

            h1, h2 {
                color: rgb(150, 150, 150);
            }

            h2 {
                margin-top: 0.0rem;
            }
        }
    }

    @keyframes type {
        from {
            box-shadow: inset -3px 0px 0px #888888;
        }
        to {
            box-shadow: inset -3px 0px 0px transparent;
        }
    }

    .io-inline-button-group {
        display: grid;
        justify-items: auto;
        grid-template-columns: 1fr 1fr 1fr;
        column-count: 4;
        grid-gap: 1.0rem;
        margin: 1.0rem;
    }

    .io-vertical-stack-group {
        display: grid;
        justify-items: auto;
        grid-template-rows: 1fr 1fr 1fr;

        grid-gap: 1.0rem;
        margin: 1.0rem;
    }

    .io-vertical-stack-group > .io-inline-button-group {
        margin: 0.0rem;
    }

    .nexus-device {
        display: inline-block;
        position: relative;
        -webkit-box-sizing: content-box !important;
        box-sizing: content-box !important
    }

    .nexus-device .screen {
        width: 100%;
        position: relative;
        z-index: 3;
        background: white;
        overflow: hidden;
        display: block;
        border-radius: 1px;
        -webkit-box-shadow: 0 0 0 3px #111111;
        box-shadow: 0 0 0 3px #111111
    }

    .nexus-device .top-bar, .nexus-device .bottom-bar {
        height: 3px;
        background: black;
        width: 100%;
        display: block
    }

    .nexus-device .middle-bar {
        width: 3px;
        height: 4px;
        top: 0px;
        left: 90px;
        background: black;
        position: absolute
    }

    .nexus-device.ipad {
        width: 576px;
        height: 768px;
        padding: 90px 25px;
        background: #242324;
        border-radius: 44px
    }

    .nexus-device.ipad:before {
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        position: absolute;
        content: "";
        display: block;
        top: 4px;
        left: 4px;
        border-radius: 40px;
        background: #1E1E1E
    }

    .nexus-device.ipad .camera {
        background: #3C3D3D;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 44px;
        left: 50%;
        margin-left: -5px;
        border-radius: 100%
    }

    .nexus-device.ipad .top-bar, .nexus-device.ipad .bottom-bar {
        display: none
    }

    .nexus-device.ipad .home {
        background: #242324;
        border-radius: 36px;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 50%;
        margin-left: -25px;
        bottom: 22px
    }

    .nexus-device.ipad .home:after {
        width: 15px;
        height: 15px;
        margin-top: -8px;
        margin-left: -8px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 4px;
        position: absolute;
        display: block;
        content: "";
        top: 50%;
        left: 50%
    }

    .nexus-device.ipad.landscape {
        height: 576px;
        width: 768px;
        padding: 25px 90px
    }

    .nexus-device.ipad.landscape .camera {
        left: calc(100% - 44px);
        top: 50%;
        margin-left: 0;
        margin-top: -5px
    }

    .nexus-device.ipad.landscape .home {
        top: 50%;
        left: 22px;
        margin-left: 0;
        margin-top: -25px
    }

    .nexus-device.ipad.silver {
        background: #BCBCBC
    }

    .nexus-device.ipad.silver:before {
        background: #FCFCFC
    }

    .nexus-device.ipad.silver .home {
        background: #FCFCFC;
        -webkit-box-shadow: inset 0 0 0 1px #BCBCBC;
        box-shadow: inset 0 0 0 1px #BCBCBC
    }

    .nexus-device.ipad.silver .home:after {
        border: 1px solid rgba(0, 0, 0, 0.2)
    }

    .nexus-device.macbook {
        width: 960px;
        height: 600px;
        padding: 44px 44px 76px;
        margin: 0 auto;
        background: #BEBEBE;
        border-radius: 34px
    }

    .nexus-device.macbook:before {
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        position: absolute;
        content: "";
        display: block;
        top: 4px;
        left: 4px;
        border-radius: 30px;
        background: #1E1E1E
    }

    .nexus-device.macbook .top-bar {
        width: calc(100% + 2 * 70px);
        height: 40px;
        position: absolute;
        content: "";
        display: block;
        top: 680px;
        left: -70px;
        border-bottom-left-radius: 90px 18px;
        border-bottom-right-radius: 90px 18px;
        background: #BEBEBE;
        -webkit-box-shadow: inset 0px -4px 13px 3px rgba(34, 34, 34, 0.6);
        box-shadow: inset 0px -4px 13px 3px rgba(34, 34, 34, 0.6)
    }

    .nexus-device.macbook .top-bar:before {
        width: 100%;
        height: 24px;
        content: "";
        display: block;
        top: 0;
        left: 0;
        background: #F0F0F0;
        border-bottom: 2px solid #AAAAAA;
        border-radius: 5px;
        position: relative
    }

    .nexus-device.macbook .top-bar:after {
        width: 16%;
        height: 14px;
        content: "";
        display: block;
        top: 0;
        background: #DDDDDD;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        border-radius: 0 0 20px 20px;
        -webkit-box-shadow: inset 0px -3px 10px #999999;
        box-shadow: inset 0px -3px 10px #999999
    }

    .nexus-device.macbook .bottom-bar {
        background: transparent;
        width: calc(100% + 2 * 70px);
        height: 26px;
        position: absolute;
        content: "";
        display: block;
        top: 680px;
        left: -70px
    }

    .nexus-device.macbook .bottom-bar:before, .nexus-device.macbook .bottom-bar:after {
        height: calc(100% - 2px);
        width: 80px;
        content: "";
        display: block;
        top: 0;
        position: absolute
    }

    .nexus-device.macbook .bottom-bar:before {
        left: 0;
        background: #F0F0F0;
        background: -webkit-gradient(linear, left top, right top, from(#747474), color-stop(5%, #C3C3C3), color-stop(14%, #EBEBEB), color-stop(41%, #979797), color-stop(80%, #F0F0F0), color-stop(100%, #F0F0F0), to(#F0F0F0));
        background: linear-gradient(to right, #747474 0%, #C3C3C3 5%, #EBEBEB 14%, #979797 41%, #F0F0F0 80%, #F0F0F0 100%, #F0F0F0 100%)
    }

    .nexus-device.macbook .bottom-bar:after {
        right: 0;
        background: #F0F0F0;
        background: -webkit-gradient(linear, left top, right top, from(#F0F0F0), color-stop(0%, #F0F0F0), color-stop(20%, #F0F0F0), color-stop(59%, #979797), color-stop(86%, #EBEBEB), color-stop(95%, #C3C3C3), to(#747474));
        background: linear-gradient(to right, #F0F0F0 0%, #F0F0F0 0%, #F0F0F0 20%, #979797 59%, #EBEBEB 86%, #C3C3C3 95%, #747474 100%)
    }

    .nexus-device.macbook .camera {
        background: #3C3D3D;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 20px;
        left: 50%;
        margin-left: -5px;
        border-radius: 100%
    }

    .nexus-device.macbook .home {
        display: none
    }

    .nexus-device.iphone-x {
        width: 375px;
        height: 812px;
        padding: 26px;
        background: #FDFDFD;
        -webkit-box-shadow: inset 0 0 11px 0 black;
        box-shadow: inset 0 0 11px 0 black;
        border-radius: 66px
    }

    .nexus-device.iphone-x .overflow {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 66px;
        overflow: hidden
    }

    .nexus-device.iphone-x .shadow {
        border-radius: 100%;
        width: 90px;
        height: 90px;
        position: absolute;
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 60%)
    }

    .nexus-device.iphone-x .shadow--tl {
        top: -20px;
        left: -20px
    }

    .nexus-device.iphone-x .shadow--tr {
        top: -20px;
        right: -20px
    }

    .nexus-device.iphone-x .shadow--bl {
        bottom: -20px;
        left: -20px
    }

    .nexus-device.iphone-x .shadow--br {
        bottom: -20px;
        right: -20px
    }

    .nexus-device.iphone-x:before {
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        position: absolute;
        top: 5px;
        content: "";
        left: 5px;
        border-radius: 61px;
        background: black;
        z-index: 1
    }

    .nexus-device.iphone-x .inner-shadow {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        position: absolute;
        top: 10px;
        overflow: hidden;
        left: 10px;
        border-radius: 56px;
        -webkit-box-shadow: inset 0 0 15px 0 rgba(255, 255, 255, 0.66);
        box-shadow: inset 0 0 15px 0 rgba(255, 255, 255, 0.66);
        z-index: 1
    }

    .nexus-device.iphone-x .inner-shadow:before {
        -webkit-box-shadow: inset 0 0 20px 0 #FFFFFF;
        box-shadow: inset 0 0 20px 0 #FFFFFF;
        width: 100%;
        height: 116%;
        position: absolute;
        top: -8%;
        content: "";
        left: 0;
        border-radius: 200px / 112px;
        z-index: 2
    }

    .nexus-device.iphone-x .screen {
        border-radius: 40px;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .nexus-device.iphone-x .top-bar, .nexus-device.iphone-x .bottom-bar {
        width: 100%;
        position: absolute;
        height: 8px;
        background: rgba(0, 0, 0, 0.1);
        left: 0
    }

    .nexus-device.iphone-x .top-bar {
        top: 80px
    }

    .nexus-device.iphone-x .bottom-bar {
        bottom: 80px
    }

    .nexus-device.iphone-x .volume, .nexus-device.iphone-x .volume:before, .nexus-device.iphone-x .volume:after, .nexus-device.iphone-x .sleep {
        width: 3px;
        background: #B5B5B5;
        position: absolute
    }

    .nexus-device.iphone-x .volume {
        left: -3px;
        top: 116px;
        height: 32px
    }

    .nexus-device.iphone-x .volume:before {
        height: 62px;
        top: 62px;
        content: "";
        left: 0
    }

    .nexus-device.iphone-x .volume:after {
        height: 62px;
        top: 140px;
        content: "";
        left: 0
    }

    .nexus-device.iphone-x .sleep {
        height: 96px;
        top: 200px;
        right: -3px
    }

    .nexus-device.iphone-x .camera {
        width: 6px;
        height: 6px;
        top: 9px;
        border-radius: 100%;
        position: absolute;
        left: 154px;
        background: #0D4D71
    }

    .nexus-device.iphone-x .speaker {
        height: 6px;
        width: 60px;
        left: 50%;
        position: absolute;
        top: 9px;
        margin-left: -30px;
        background: #171818;
        border-radius: 6px
    }

    .nexus-device.iphone-x .notch {
        position: absolute;
        width: 210px;
        height: 30px;
        top: 26px;
        left: 108px;
        z-index: 4;
        background: black;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px
    }

    .nexus-device.iphone-x .notch:before, .nexus-device.iphone-x .notch:after {
        content: "";
        height: 8px;
        position: absolute;
        top: 0;
        width: 8px
    }

    .nexus-device.iphone-x .notch:after {
        background: radial-gradient(circle at bottom left, transparent 0, transparent 70%, black 70%, black 100%);
        left: -8px
    }

    .nexus-device.iphone-x .notch:before {
        background: radial-gradient(circle at bottom right, transparent 0, transparent 70%, black 70%, black 100%);
        right: -8px
    }

    .nexus-device.iphone-x.landscape {
        height: 375px;
        width: 812px
    }

    .nexus-device.iphone-x.landscape .top-bar, .nexus-device.iphone-x.landscape .bottom-bar {
        width: 8px;
        height: 100%;
        top: 0
    }

    .nexus-device.iphone-x.landscape .top-bar {
        left: 80px
    }

    .nexus-device.iphone-x.landscape .bottom-bar {
        right: 80px;
        bottom: auto;
        left: auto
    }

    .nexus-device.iphone-x.landscape .volume, .nexus-device.iphone-x.landscape .volume:before, .nexus-device.iphone-x.landscape .volume:after, .nexus-device.iphone-x.landscape .sleep {
        height: 3px
    }

    .nexus-device.iphone-x.landscape .inner-shadow:before {
        height: 100%;
        width: 116%;
        left: -8%;
        top: 0;
        border-radius: 112px / 200px
    }

    .nexus-device.iphone-x.landscape .volume {
        bottom: -3px;
        top: auto;
        left: 116px;
        width: 32px
    }

    .nexus-device.iphone-x.landscape .volume:before {
        width: 62px;
        left: 62px;
        top: 0
    }

    .nexus-device.iphone-x.landscape .volume:after {
        width: 62px;
        left: 140px;
        top: 0
    }

    .nexus-device.iphone-x.landscape .sleep {
        width: 96px;
        left: 200px;
        top: -3px;
        right: auto
    }

    .nexus-device.iphone-x.landscape .camera {
        left: 9px;
        bottom: 154px;
        top: auto
    }

    .nexus-device.iphone-x.landscape .speaker {
        width: 6px;
        height: 60px;
        left: 9px;
        top: 50%;
        margin-top: -30px;
        margin-left: 0
    }

    .nexus-device.iphone-x.landscape .notch {
        height: 210px;
        width: 30px;
        left: 26px;
        bottom: 108px;
        top: auto;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
        border-bottom-left-radius: 0
    }

    .nexus-device.iphone-x.landscape .notch:before, .nexus-device.iphone-x.landscape .notch:after {
        left: 0
    }

    .nexus-device.iphone-x.landscape .notch:after {
        background: radial-gradient(circle at bottom right, transparent 0, transparent 70%, black 70%, black 100%);
        bottom: -8px;
        top: auto
    }

    .nexus-device.iphone-x.landscape .notch:before {
        background: radial-gradient(circle at top right, transparent 0, transparent 70%, black 70%, black 100%);
        top: -8px
    }
}