$prefix: "io" !default;

$global-prefix: $prefix;

$global-line-height: 1.0;
$global-page-padding: 1.0rem;
$global-footer-height: 3.0rem;
$global-base-font-size: 1.15rem;
$global-navigation-menu-height: 3.0rem;
