@forward "spacing";
@forward "colors";
@forward "fonts";

@use "globals" as *;

@use "spacing" as *;
@use "colors" as *;
@use "fonts" as *;

:root {
    --global-sans-font: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
    --global-sans-serif-font: "IBM Plex Serif", serif;
    --global-mono-font: "IBM Plex Mono", Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

    --global-line-height: #{$global-line-height};
    --global-page-padding: #{$global-page-padding};
    --global-base-font-size: #{$global-base-font-size};

    --global-navigation-menu-height: #{$global-navigation-menu-height};
    --global-footer-height: #{$global-footer-height};

    --global-spacing-01: #{$spacing-01};
    --global-spacing-02: #{$spacing-02};
    --global-spacing-03: #{$spacing-03};
    --global-spacing-04: #{$spacing-04};
    --global-spacing-05: #{$spacing-05};
    --global-spacing-06: #{$spacing-06};
    --global-spacing-07: #{$spacing-07};
    --global-spacing-08: #{$spacing-08};
    --global-spacing-09: #{$spacing-09};
    --global-spacing-10: #{$spacing-10};
    --global-spacing-11: #{$spacing-11};
    --global-spacing-12: #{$spacing-12};
    --global-spacing-13: #{$spacing-13};

    --global-black: #{$black};
    --global-black-100: #{$black-100};
    --global-black-hover: #{$black-hover};
    --global-black-layer: #{$black-layer};

    --global-white: #{$white};
    --global-white-100: #{$white-0};
    --global-white-hover: #{$white-hover};

    --global-blue-10: #{$blue-10};
    --global-blue-20: #{$blue-20};
    --global-blue-30: #{$blue-30};
    --global-blue-40: #{$blue-40};
    --global-blue-50: #{$blue-50};
    --global-blue-60: #{$blue-60};
    --global-blue-70: #{$blue-70};
    --global-blue-80: #{$blue-80};
    --global-blue-90: #{$blue-90};
    --global-blue-100: #{$blue-100};

    --global-cool-gray-10: #{$cool-gray-10};
    --global-cool-gray-20: #{$cool-gray-20};
    --global-cool-gray-30: #{$cool-gray-30};
    --global-cool-gray-40: #{$cool-gray-40};
    --global-cool-gray-50: #{$cool-gray-50};
    --global-cool-gray-60: #{$cool-gray-60};
    --global-cool-gray-70: #{$cool-gray-70};
    --global-cool-gray-80: #{$cool-gray-80};
    --global-cool-gray-90: #{$cool-gray-90};
    --global-cool-gray-100: #{$cool-gray-100};

    --global-cyan-10: #{$cyan-10};
    --global-cyan-20: #{$cyan-20};
    --global-cyan-30: #{$cyan-30};
    --global-cyan-40: #{$cyan-40};
    --global-cyan-50: #{$cyan-50};
    --global-cyan-60: #{$cyan-60};
    --global-cyan-70: #{$cyan-70};
    --global-cyan-80: #{$cyan-80};
    --global-cyan-90: #{$cyan-90};
    --global-cyan-100: #{$cyan-100};

    --global-gray-10: #{$gray-10};
    --global-gray-20: #{$gray-20};
    --global-gray-30: #{$gray-30};
    --global-gray-40: #{$gray-40};
    --global-gray-50: #{$gray-50};
    --global-gray-60: #{$gray-60};
    --global-gray-70: #{$gray-70};
    --global-gray-80: #{$gray-80};
    --global-gray-90: #{$gray-90};
    --global-gray-100: #{$gray-100};

    --global-green-10: #{$green-10};
    --global-green-20: #{$green-20};
    --global-green-30: #{$green-30};
    --global-green-40: #{$green-40};
    --global-green-50: #{$green-50};
    --global-green-60: #{$green-60};
    --global-green-70: #{$green-70};
    --global-green-80: #{$green-80};
    --global-green-90: #{$green-90};
    --global-green-100: #{$green-100};

    --global-magenta-10: #{$magenta-10};
    --global-magenta-20: #{$magenta-20};
    --global-magenta-30: #{$magenta-30};
    --global-magenta-40: #{$magenta-40};
    --global-magenta-50: #{$magenta-50};
    --global-magenta-60: #{$magenta-60};
    --global-magenta-70: #{$magenta-70};
    --global-magenta-80: #{$magenta-80};
    --global-magenta-90: #{$magenta-90};
    --global-magenta-100: #{$magenta-100};

    --global-orange-10: #{$orange-10};
    --global-orange-20: #{$orange-20};
    --global-orange-30: #{$orange-30};
    --global-orange-40: #{$orange-40};
    --global-orange-50: #{$orange-50};
    --global-orange-60: #{$orange-60};
    --global-orange-70: #{$orange-70};
    --global-orange-80: #{$orange-80};
    --global-orange-90: #{$orange-90};
    --global-orange-100: #{$orange-100};

    --global-purple-10: #{$purple-10};
    --global-purple-20: #{$purple-20};
    --global-purple-30: #{$purple-30};
    --global-purple-40: #{$purple-40};
    --global-purple-50: #{$purple-50};
    --global-purple-60: #{$purple-60};
    --global-purple-70: #{$purple-70};
    --global-purple-80: #{$purple-80};
    --global-purple-90: #{$purple-90};
    --global-purple-100: #{$purple-100};

    --global-red-10: #{$red-10};
    --global-red-20: #{$red-20};
    --global-red-30: #{$red-30};
    --global-red-40: #{$red-40};
    --global-red-50: #{$red-50};
    --global-red-60: #{$red-60};
    --global-red-70: #{$red-70};
    --global-red-80: #{$red-80};
    --global-red-90: #{$red-90};
    --global-red-100: #{$red-100};

    --global-teal-10: #{$teal-10};
    --global-teal-20: #{$teal-20};
    --global-teal-30: #{$teal-30};
    --global-teal-40: #{$teal-40};
    --global-teal-50: #{$teal-50};
    --global-teal-60: #{$teal-60};
    --global-teal-70: #{$teal-70};
    --global-teal-80: #{$teal-80};
    --global-teal-90: #{$teal-90};
    --global-teal-100: #{$teal-100};

    --global-yellow-10: #{$yellow-10};
    --global-yellow-20: #{$yellow-20};
    --global-yellow-30: #{$yellow-30};
    --global-yellow-40: #{$yellow-40};
    --global-yellow-50: #{$yellow-50};
    --global-yellow-60: #{$yellow-60};
    --global-yellow-70: #{$yellow-70};
    --global-yellow-80: #{$yellow-80};
    --global-yellow-90: #{$yellow-90};
    --global-yellow-100: #{$yellow-100};

    --global-blue-10-hover: #{$blue-10-hover};
    --global-blue-20-hover: #{$blue-20-hover};
    --global-blue-30-hover: #{$blue-30-hover};
    --global-blue-40-hover: #{$blue-40-hover};
    --global-blue-50-hover: #{$blue-50-hover};
    --global-blue-60-hover: #{$blue-60-hover};
    --global-blue-70-hover: #{$blue-70-hover};
    --global-blue-80-hover: #{$blue-80-hover};
    --global-blue-90-hover: #{$blue-90-hover};
    --global-blue-100-hover: #{$blue-100-hover};

    --global-cool-gray-10-hover: #{$cool-gray-10-hover};
    --global-cool-gray-20-hover: #{$cool-gray-20-hover};
    --global-cool-gray-30-hover: #{$cool-gray-30-hover};
    --global-cool-gray-40-hover: #{$cool-gray-40-hover};
    --global-cool-gray-50-hover: #{$cool-gray-50-hover};
    --global-cool-gray-60-hover: #{$cool-gray-60-hover};
    --global-cool-gray-70-hover: #{$cool-gray-70-hover};
    --global-cool-gray-80-hover: #{$cool-gray-80-hover};
    --global-cool-gray-90-hover: #{$cool-gray-90-hover};
    --global-cool-gray-100-hover: #{$cool-gray-100-hover};

    --global-cyan-10-hover: #{$cyan-10-hover};
    --global-cyan-20-hover: #{$cyan-20-hover};
    --global-cyan-30-hover: #{$cyan-30-hover};
    --global-cyan-40-hover: #{$cyan-40-hover};
    --global-cyan-50-hover: #{$cyan-50-hover};
    --global-cyan-60-hover: #{$cyan-60-hover};
    --global-cyan-70-hover: #{$cyan-70-hover};
    --global-cyan-80-hover: #{$cyan-80-hover};
    --global-cyan-90-hover: #{$cyan-90-hover};
    --global-cyan-100-hover: #{$cyan-100-hover};

    --global-gray-10-hover: #{$gray-10-hover};
    --global-gray-20-hover: #{$gray-20-hover};
    --global-gray-30-hover: #{$gray-30-hover};
    --global-gray-40-hover: #{$gray-40-hover};
    --global-gray-50-hover: #{$gray-50-hover};
    --global-gray-60-hover: #{$gray-60-hover};
    --global-gray-70-hover: #{$gray-70-hover};
    --global-gray-80-hover: #{$gray-80-hover};
    --global-gray-90-hover: #{$gray-90-hover};
    --global-gray-100-hover: #{$gray-100-hover};

    --global-green-10-hover: #{$green-10-hover};
    --global-green-20-hover: #{$green-20-hover};
    --global-green-30-hover: #{$green-30-hover};
    --global-green-40-hover: #{$green-40-hover};
    --global-green-50-hover: #{$green-50-hover};
    --global-green-60-hover: #{$green-60-hover};
    --global-green-70-hover: #{$green-70-hover};
    --global-green-80-hover: #{$green-80-hover};
    --global-green-90-hover: #{$green-90-hover};
    --global-green-100-hover: #{$green-100-hover};

    --global-magenta-10-hover: #{$magenta-10-hover};
    --global-magenta-20-hover: #{$magenta-20-hover};
    --global-magenta-30-hover: #{$magenta-30-hover};
    --global-magenta-40-hover: #{$magenta-40-hover};
    --global-magenta-50-hover: #{$magenta-50-hover};
    --global-magenta-60-hover: #{$magenta-60-hover};
    --global-magenta-70-hover: #{$magenta-70-hover};
    --global-magenta-80-hover: #{$magenta-80-hover};
    --global-magenta-90-hover: #{$magenta-90-hover};
    --global-magenta-100-hover: #{$magenta-100-hover};

    --global-orange-10-hover: #{$orange-10-hover};
    --global-orange-20-hover: #{$orange-20-hover};
    --global-orange-30-hover: #{$orange-30-hover};
    --global-orange-40-hover: #{$orange-40-hover};
    --global-orange-50-hover: #{$orange-50-hover};
    --global-orange-60-hover: #{$orange-60-hover};
    --global-orange-70-hover: #{$orange-70-hover};
    --global-orange-80-hover: #{$orange-80-hover};
    --global-orange-90-hover: #{$orange-90-hover};
    --global-orange-100-hover: #{$orange-100-hover};

    --global-purple-10-hover: #{$purple-10-hover};
    --global-purple-20-hover: #{$purple-20-hover};
    --global-purple-30-hover: #{$purple-30-hover};
    --global-purple-40-hover: #{$purple-40-hover};
    --global-purple-50-hover: #{$purple-50-hover};
    --global-purple-60-hover: #{$purple-60-hover};
    --global-purple-70-hover: #{$purple-70-hover};
    --global-purple-80-hover: #{$purple-80-hover};
    --global-purple-90-hover: #{$purple-90-hover};
    --global-purple-100-hover: #{$purple-100-hover};

    --global-red-10-hover: #{$red-10-hover};
    --global-red-20-hover: #{$red-20-hover};
    --global-red-30-hover: #{$red-30-hover};
    --global-red-40-hover: #{$red-40-hover};
    --global-red-50-hover: #{$red-50-hover};
    --global-red-60-hover: #{$red-60-hover};
    --global-red-70-hover: #{$red-70-hover};
    --global-red-80-hover: #{$red-80-hover};
    --global-red-90-hover: #{$red-90-hover};
    --global-red-100-hover: #{$red-100-hover};

    --global-teal-10-hover: #{$teal-10-hover};
    --global-teal-20-hover: #{$teal-20-hover};
    --global-teal-30-hover: #{$teal-30-hover};
    --global-teal-40-hover: #{$teal-40-hover};
    --global-teal-50-hover: #{$teal-50-hover};
    --global-teal-60-hover: #{$teal-60-hover};
    --global-teal-70-hover: #{$teal-70-hover};
    --global-teal-80-hover: #{$teal-80-hover};
    --global-teal-90-hover: #{$teal-90-hover};
    --global-teal-100-hover: #{$teal-100-hover};

    --global-warm-gray-10-hover: #{$warm-gray-10-hover};
    --global-warm-gray-20-hover: #{$warm-gray-20-hover};
    --global-warm-gray-30-hover: #{$warm-gray-30-hover};
    --global-warm-gray-40-hover: #{$warm-gray-40-hover};
    --global-warm-gray-50-hover: #{$warm-gray-50-hover};
    --global-warm-gray-60-hover: #{$warm-gray-60-hover};
    --global-warm-gray-70-hover: #{$warm-gray-70-hover};
    --global-warm-gray-80-hover: #{$warm-gray-80-hover};
    --global-warm-gray-90-hover: #{$warm-gray-90-hover};
    --global-warm-gray-100-hover: #{$warm-gray-100-hover};

    --global-yellow-10-hover: #{$yellow-10-hover};
    --global-yellow-20-hover: #{$yellow-20-hover};
    --global-yellow-30-hover: #{$yellow-30-hover};
    --global-yellow-40-hover: #{$yellow-40-hover};
    --global-yellow-50-hover: #{$yellow-50-hover};
    --global-yellow-60-hover: #{$yellow-60-hover};
    --global-yellow-70-hover: #{$yellow-70-hover};
    --global-yellow-80-hover: #{$yellow-80-hover};
    --global-yellow-90-hover: #{$yellow-90-hover};
    --global-yellow-100-hover: #{$yellow-100-hover};

    --global-background: #{$background};
    --global-background-inverse: #{$background-inverse};
    --global-background-brand: #{$background-brand};
    --global-background-active: #{$background-active};
    --global-background-focus: #{$background-focus};
    --global-background-hover: #{$background-hover};
    --global-background-inverse-hover: #{$background-inverse-hover};
    --global-background-selected: #{$background-selected};
    --global-background-selected-hover: #{$background-selected-hover};
    --global-layer-01: #{$layer-01};
    --global-layer-active-01: #{$layer-active-01};
    --global-layer-hover-01: #{$layer-hover-01};
    --global-layer-selected-01: #{$layer-selected-01};
    --global-layer-selected-hover-01: #{$layer-selected-hover-01};
    --global-layer-02: #{$layer-02};
    --global-layer-active-02: #{$layer-active-02};
    --global-layer-hover-02: #{$layer-hover-02};
    --global-layer-selected-02: #{$layer-selected-02};
    --global-layer-selected-hover-02: #{$layer-selected-hover-02};
    --global-layer-03: #{$layer-03};
    --global-layer-active-03: #{$layer-active-03};
    --global-layer-hover-03: #{$layer-hover-03};
    --global-layer-selected-03: #{$layer-selected-03};
    --global-layer-selected-hover-03: #{$layer-selected-hover-03};
    --global-layer-disabled: #{$layer-disabled};
    --global-layer-selected-inverse: #{$layer-selected-inverse};
    --global-layer-selected-disabled: #{$layer-selected-disabled};
    --global-layer-accent-01: #{$layer-accent-01};
    --global-layer-accent-active-01: #{$layer-accent-active-01};
    --global-layer-accent-hover-01: #{$layer-accent-hover-01};
    --global-layer-accent-02: #{$layer-accent-02};
    --global-layer-accent-active-02: #{$layer-accent-active-02};
    --global-layer-accent-hover-02: #{$layer-accent-hover-02};
    --global-layer-accent-03: #{$layer-accent-03};
    --global-layer-accent-active-03: #{$layer-accent-active-03};
    --global-layer-accent-hover-03: #{$layer-accent-hover-03};
    --global-field-01: #{$field-01};
    --global-field-hover-01: #{$field-hover-01};
    --global-field-02: #{$field-02};
    --global-field-hover-02: #{$field-hover-02};
    --global-field-03: #{$field-03};
    --global-field-hover-03: #{$field-hover-03};
    --global-field-disabled: #{$field-disabled};
    --global-border-subtle-00: #{$border-subtle-00};
    --global-border-subtle-01: #{$border-subtle-01};
    --global-border-subtle-selected-01: #{$border-subtle-selected-01};
    --global-border-subtle-02: #{$border-subtle-02};
    --global-border-subtle-selected-02: #{$border-subtle-selected-02};
    --global-border-subtle-03: #{$border-subtle-03};
    --global-border-subtle-selected-03: #{$border-subtle-selected-03};
    --global-border-strong-01: #{$border-strong-01};
    --global-border-strong-02: #{$border-strong-02};
    --global-border-strong-03: #{$border-strong-03};
    --global-border-inverse: #{$border-inverse};
    --global-border-interactive: #{$border-interactive};
    --global-border-disabled: #{$border-disabled};
    --global-text-primary: #{$text-primary};
    --global-text-secondary: #{$text-secondary};
    --global-text-placeholder: #{$text-placeholder};
    --global-text-helper: #{$text-helper};
    --global-text-error: #{$text-error};
    --global-text-inverse: #{$text-inverse};
    --global-text-on-color: #{$text-on-color};
    --global-text-on-color-disabled: #{$text-on-color-disabled};
    --global-text-disabled: #{$text-disabled};
    --global-link-primary: #{$link-primary};
    --global-link-primary-hover: #{$link-primary-hover};
    --global-link-secondary: #{$link-secondary};
    --global-link-inverse: #{$link-inverse};
    --global-link-visited: #{$link-visited};
    --global-icon-primary: #{$icon-primary};
    --global-icon-secondary: #{$icon-secondary};
    --global-icon-inverse: #{$icon-inverse};
    --global-icon-on-color: #{$icon-on-color};
    --global-icon-on-color-disabled: #{$icon-on-color-disabled};
    --global-icon-disabled: #{$icon-disabled};
    --global-support-error: #{$support-error};
    --global-support-success: #{$support-success};
    --global-support-warning: #{$support-warning};
    --global-support-info: #{$support-info};
    --global-support-error-inverse: #{$support-error-inverse};
    --global-support-success-inverse: #{$support-success-inverse};
    --global-support-warning-inverse: #{$support-warning-inverse};
    --global-support-info-inverse: #{$support-info-inverse};
    --global-support-caution-minor: #{$support-caution-minor};
    --global-support-caution-major: #{$support-caution-major};
    --global-support-caution-undefined: #{$support-caution-undefined};
    --global-focus: #{$focus};
    --global-focus-inset: #{$focus-inset};
    --global-focus-inverse: #{$focus-inverse};
    --global-skeleton-background: #{$skeleton-background};
    --global-skeleton-element: #{$skeleton-element};
    --global-interactive: #{$interactive};
    --global-highlight: #{$highlight};
    --global-overlay: #{$overlay};
    --global-toggle-off: #{$toggle-off};
    --global-shadow: #{$shadow};

    --toastify-color-dark: #{$toastify-color-dark};

    ///     --io-page-header-tagset-tooltip-offset: 0;
    ///     --io-active-01: #C6C6C6;
    ///     --io-active-danger: #750E13;
    ///     --io-active-light-ui: #C6C6C6;
    ///     --io-active-primary: #002D9C;
    ///     --io-active-secondary: #6F6F6F;
    ///     --io-active-tertiary: #002D9C;
    ///     --io-active-ui: #C6C6C6;
    ///     --io-background: #FFFFFF;
    ///     --io-background-active: #C6C6C6;
    ///     --io-background-brand: #0F62FE;
    ///     --io-background-hover: #E5E5E5;
    ///     --io-background-inverse: #393939;
    ///     --io-background-inverse-hover: #4C4C4C;
    ///     --io-background-selected: #E0E0E0;
    ///     --io-background-selected-hover: #CACACA;
    ///     --io-body-01-font-size: 0.875rem;
    ///     --io-body-01-font-weight: 400;
    ///     --io-body-01-letter-spacing: 0.16px;
    ///     --io-body-01-line-height: 1.42857;
    ///     --io-body-02-font-size: 1rem;
    ///     --io-body-02-font-weight: 400;
    ///     --io-body-02-letter-spacing: 0;
    ///     --io-body-02-line-height: 1.5;
    ///     --io-body-compact-01-font-size: 0.875rem;
    ///     --io-body-compact-01-font-weight: 400;
    ///     --io-body-compact-01-letter-spacing: 0.16px;
    ///     --io-body-compact-01-line-height: 1.28572;
    ///     --io-body-compact-02-font-size: 1rem;
    ///     --io-body-compact-02-font-weight: 400;
    ///     --io-body-compact-02-letter-spacing: 0;
    ///     --io-body-compact-02-line-height: 1.375;
    ///     --io-body-long-01-font-size: 0.875rem;
    ///     --io-body-long-01-font-weight: 400;
    ///     --io-body-long-01-letter-spacing: 0.16px;
    ///     --io-body-long-01-line-height: 1.42857;
    ///     --io-body-long-02-font-size: 1rem;
    ///     --io-body-long-02-font-weight: 400;
    ///     --io-body-long-02-letter-spacing: 0;
    ///     --io-body-long-02-line-height: 1.5;
    ///     --io-body-short-01-font-size: 0.875rem;
    ///     --io-body-short-01-font-weight: 400;
    ///     --io-body-short-01-letter-spacing: 0.16px;
    ///     --io-body-short-01-line-height: 1.28572;
    ///     --io-body-short-02-font-size: 1rem;
    ///     --io-body-short-02-font-weight: 400;
    ///     --io-body-short-02-letter-spacing: 0;
    ///     --io-body-short-02-line-height: 1.375;
    ///     --io-border-disabled: #F4F4F4;
    ///     --io-border-interactive: #0F62FE;
    ///     --io-border-inverse: #161616;
    ///     --io-border-strong: #8D8D8D;
    ///     --io-border-subtle: #E0E0E0;
    ///     --io-border-subtle-selected: #C6C6C6;
    ///     --io-brand-01: #0F62FE;
    ///     --io-brand-02: #393939;
    ///     --io-brand-03: #0F62FE;
    ///     --io-button-danger-active: #750E13;
    ///     --io-button-danger-hover: #B81921;
    ///     --io-button-danger-primary: #DA1E28;
    ///     --io-button-danger-secondary: #DA1E28;
    ///     --io-button-disabled: #C6C6C6;
    ///     --io-button-primary: #0F62FE;
    ///     --io-button-primary-active: #002D9C;
    ///     --io-button-primary-hover: #0353E9;
    ///     --io-button-secondary: #393939;
    ///     --io-button-secondary-active: #6F6F6F;
    ///     --io-button-secondary-hover: #4C4C4C;
    ///     --io-button-separator: #E0E0E0;
    ///     --io-button-tertiary: #0F62FE;
    ///     --io-button-tertiary-active: #002D9C;
    ///     --io-button-tertiary-hover: #0353E9;
    ///     --io-caption-01-font-size: 0.75rem;
    ///     --io-caption-01-font-weight: 400;
    ///     --io-caption-01-letter-spacing: 0.32px;
    ///     --io-caption-01-line-height: 1.33333;
    ///     --io-caption-02-font-size: 0.875rem;
    ///     --io-caption-02-font-weight: 400;
    ///     --io-caption-02-letter-spacing: 0.32px;
    ///     --io-caption-02-line-height: 1.28572;
    ///     --io-code-01-font-family: "IBM Plex Mono", "Menlo", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", Courier, monospace;
    ///     --io-code-01-font-size: 0.75rem;
    ///     --io-code-01-font-weight: 400;
    ///     --io-code-01-letter-spacing: 0.32px;
    ///     --io-code-01-line-height: 1.33333;
    ///     --io-code-02-font-family: "IBM Plex Mono", "Menlo", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", Courier, monospace;
    ///     --io-code-02-font-size: 0.875rem;
    ///     --io-code-02-font-weight: 400;
    ///     --io-code-02-letter-spacing: 0.32px;
    ///     --io-code-02-line-height: 1.42857;
    ///     --io-container-01: 1.5rem;
    ///     --io-container-02: 2rem;
    ///     --io-container-03: 2.5rem;
    ///     --io-container-04: 3rem;
    ///     --io-container-05: 4rem;
    ///     --io-danger: #DA1E28;
    ///     --io-danger-01: #DA1E28;
    ///     --io-danger-02: #DA1E28;
    ///     --io-decorative-01: #E0E0E0;
    ///     --io-disabled-01: #F4F4F4;
    ///     --io-disabled-02: #C6C6C6;
    ///     --io-disabled-03: #8D8D8D;
    ///     --io-display-01-font-size: 2.625rem;
    ///     --io-display-01-font-weight: 300;
    ///     --io-display-01-letter-spacing: 0;
    ///     --io-display-01-line-height: 1.19;
    ///     --io-display-02-font-size: 2.625rem;
    ///     --io-display-02-font-weight: 600;
    ///     --io-display-02-letter-spacing: 0;
    ///     --io-display-02-line-height: 1.19;
    ///     --io-display-03-font-size: 2.625rem;
    ///     --io-display-03-font-weight: 300;
    ///     --io-display-03-letter-spacing: 0;
    ///     --io-display-03-line-height: 1.19;
    ///     --io-display-04-font-size: 2.625rem;
    ///     --io-display-04-font-weight: 600;
    ///     --io-display-04-letter-spacing: 0;
    ///     --io-display-04-line-height: 1.19;
    ///     --io-expressive-heading-01-font-size: 0.875rem;
    ///     --io-expressive-heading-01-font-weight: 600;
    ///     --io-expressive-heading-01-letter-spacing: 0.16px;
    ///     --io-expressive-heading-01-line-height: 1.25;
    ///     --io-expressive-heading-02-font-size: 1rem;
    ///     --io-expressive-heading-02-font-weight: 600;
    ///     --io-expressive-heading-02-letter-spacing: 0;
    ///     --io-expressive-heading-02-line-height: 1.5;
    ///     --io-expressive-heading-03-font-size: 1.25rem;
    ///     --io-expressive-heading-03-font-weight: 400;
    ///     --io-expressive-heading-03-letter-spacing: 0;
    ///     --io-expressive-heading-03-line-height: 1.4;
    ///     --io-expressive-heading-04-font-size: 1.75rem;
    ///     --io-expressive-heading-04-font-weight: 400;
    ///     --io-expressive-heading-04-letter-spacing: 0;
    ///     --io-expressive-heading-04-line-height: 1.28572;
    ///     --io-expressive-heading-05-font-size: 2rem;
    ///     --io-expressive-heading-05-font-weight: 400;
    ///     --io-expressive-heading-05-letter-spacing: 0;
    ///     --io-expressive-heading-05-line-height: 1.25;
    ///     --io-expressive-heading-06-font-size: 2rem;
    ///     --io-expressive-heading-06-font-weight: 600;
    ///     --io-expressive-heading-06-letter-spacing: 0;
    ///     --io-expressive-heading-06-line-height: 1.25;
    ///     --io-expressive-paragraph-01-font-size: 1.5rem;
    ///     --io-expressive-paragraph-01-font-weight: 300;
    ///     --io-expressive-paragraph-01-letter-spacing: 0;
    ///     --io-expressive-paragraph-01-line-height: 1.334;
    ///     --io-field: #F4F4F4;
    ///     --io-field-01: #F4F4F4;
    ///     --io-field-02: #FFFFFF;
    ///     --io-field-disabled: #F4F4F4;
    ///     --io-field-hover: #E5E5E5;
    ///     --io-fluid-display-01-font-size: 2.625rem;
    ///     --io-fluid-display-01-font-weight: 300;
    ///     --io-fluid-display-01-letter-spacing: 0;
    ///     --io-fluid-display-01-line-height: 1.19;
    ///     --io-fluid-display-02-font-size: 2.625rem;
    ///     --io-fluid-display-02-font-weight: 600;
    ///     --io-fluid-display-02-letter-spacing: 0;
    ///     --io-fluid-display-02-line-height: 1.19;
    ///     --io-fluid-display-03-font-size: 2.625rem;
    ///     --io-fluid-display-03-font-weight: 300;
    ///     --io-fluid-display-03-letter-spacing: 0;
    ///     --io-fluid-display-03-line-height: 1.19;
    ///     --io-fluid-display-04-font-size: 2.625rem;
    ///     --io-fluid-display-04-font-weight: 600;
    ///     --io-fluid-display-04-letter-spacing: 0;
    ///     --io-fluid-display-04-line-height: 1.19;
    ///     --io-fluid-heading-03-font-size: 1.25rem;
    ///     --io-fluid-heading-03-font-weight: 400;
    ///     --io-fluid-heading-03-letter-spacing: 0;
    ///     --io-fluid-heading-03-line-height: 1.4;
    ///     --io-fluid-heading-04-font-size: 1.75rem;
    ///     --io-fluid-heading-04-font-weight: 400;
    ///     --io-fluid-heading-04-letter-spacing: 0;
    ///     --io-fluid-heading-04-line-height: 1.28572;
    ///     --io-fluid-heading-05-font-size: 2rem;
    ///     --io-fluid-heading-05-font-weight: 400;
    ///     --io-fluid-heading-05-letter-spacing: 0;
    ///     --io-fluid-heading-05-line-height: 1.25;
    ///     --io-fluid-heading-06-font-size: 2rem;
    ///     --io-fluid-heading-06-font-weight: 600;
    ///     --io-fluid-heading-06-letter-spacing: 0;
    ///     --io-fluid-heading-06-line-height: 1.25;
    ///     --io-fluid-paragraph-01-font-size: 1.5rem;
    ///     --io-fluid-paragraph-01-font-weight: 300;
    ///     --io-fluid-paragraph-01-letter-spacing: 0;
    ///     --io-fluid-paragraph-01-line-height: 1.334;
    ///     --io-fluid-quotation-01-font-family: "IBM Plex Serif", "Georgia", Times, serif;
    ///     --io-fluid-quotation-01-font-size: 1.25rem;
    ///     --io-fluid-quotation-01-font-weight: 400;
    ///     --io-fluid-quotation-01-letter-spacing: 0;
    ///     --io-fluid-quotation-01-line-height: 1.3;
    ///     --io-fluid-quotation-02-font-family: "IBM Plex Serif", "Georgia", Times, serif;
    ///     --io-fluid-quotation-02-font-size: 2rem;
    ///     --io-fluid-quotation-02-font-weight: 300;
    ///     --io-fluid-quotation-02-letter-spacing: 0;
    ///     --io-fluid-quotation-02-line-height: 1.25;
    ///     --io-fluid-spacing-01: 0;
    ///     --io-fluid-spacing-02: 2vw;
    ///     --io-fluid-spacing-03: 5vw;
    ///     --io-fluid-spacing-04: 10vw;
    ///     --io-focus: #0F62FE;
    ///     --io-focus-inset: #FFFFFF;
    ///     --io-focus-inverse: #FFFFFF;
    ///     --io-heading-01-font-size: 0.875rem;
    ///     --io-heading-01-font-weight: 600;
    ///     --io-heading-01-letter-spacing: 0.16px;
    ///     --io-heading-01-line-height: 1.42857;
    ///     --io-heading-02-font-size: 1rem;
    ///     --io-heading-02-font-weight: 600;
    ///     --io-heading-02-letter-spacing: 0;
    ///     --io-heading-02-line-height: 1.5;
    ///     --io-heading-03-font-size: 1.25rem;
    ///     --io-heading-03-font-weight: 400;
    ///     --io-heading-03-letter-spacing: 0;
    ///     --io-heading-03-line-height: 1.4;
    ///     --io-heading-04-font-size: 1.75rem;
    ///     --io-heading-04-font-weight: 400;
    ///     --io-heading-04-letter-spacing: 0;
    ///     --io-heading-04-line-height: 1.28572;
    ///     --io-heading-05-font-size: 2rem;
    ///     --io-heading-05-font-weight: 400;
    ///     --io-heading-05-letter-spacing: 0;
    ///     --io-heading-05-line-height: 1.25;
    ///     --io-heading-06-font-size: 2.625rem;
    ///     --io-heading-06-font-weight: 300;
    ///     --io-heading-06-letter-spacing: 0;
    ///     --io-heading-06-line-height: 1.199;
    ///     --io-heading-07-font-size: 3.375rem;
    ///     --io-heading-07-font-weight: 300;
    ///     --io-heading-07-letter-spacing: 0;
    ///     --io-heading-07-line-height: 1.199;
    ///     --io-heading-compact-01-font-size: 0.875rem;
    ///     --io-heading-compact-01-font-weight: 600;
    ///     --io-heading-compact-01-letter-spacing: 0.16px;
    ///     --io-heading-compact-01-line-height: 1.28572;
    ///     --io-heading-compact-02-font-size: 1rem;
    ///     --io-heading-compact-02-font-weight: 600;
    ///     --io-heading-compact-02-letter-spacing: 0;
    ///     --io-heading-compact-02-line-height: 1.375;
    ///     --io-helper-text-01-font-size: 0.75rem;
    ///     --io-helper-text-01-letter-spacing: 0.32px;
    ///     --io-helper-text-01-line-height: 1.33333;
    ///     --io-helper-text-02-font-size: 0.875rem;
    ///     --io-helper-text-02-letter-spacing: 0.16px;
    ///     --io-helper-text-02-line-height: 1.28572;
    ///     --io-highlight: #D0E2FF;
    ///     --io-hover-danger: #B81921;
    ///     --io-hover-field: #E5E5E5;
    ///     --io-hover-light-ui: #E5E5E5;
    ///     --io-hover-primary: #0353E9;
    ///     --io-hover-primary-text: #0043CE;
    ///     --io-hover-row: #E5E5E5;
    ///     --io-hover-secondary: #4C4C4C;
    ///     --io-hover-selected-ui: #CACACA;
    ///     --io-hover-tertiary: #0353E9;
    ///     --io-hover-ui: #E5E5E5;
    ///     --io-icon-01: #161616;
    ///     --io-icon-02: #525252;
    ///     --io-icon-03: #FFFFFF;
    ///     --io-icon-disabled: #C6C6C6;
    ///     --io-icon-inverse: #FFFFFF;
    ///     --io-icon-on-color: #FFFFFF;
    ///     --io-icon-on-color-disabled: #8D8D8D;
    ///     --io-icon-primary: #161616;
    ///     --io-icon-secondary: #525252;
    ///     --io-icon-size-01: 1rem;
    ///     --io-icon-size-02: 1.25rem;
    ///     --io-interactive: #0F62FE;
    ///     --io-interactive-01: #0F62FE;
    ///     --io-interactive-02: #393939;
    ///     --io-interactive-03: #0F62FE;
    ///     --io-interactive-04: #0F62FE;
    ///     --io-inverse-01: #FFFFFF;
    ///     --io-inverse-02: #393939;
    ///     --io-inverse-focus-ui: #FFFFFF;
    ///     --io-inverse-hover-ui: #4C4C4C;
    ///     --io-inverse-link: #78A9FF;
    ///     --io-inverse-support-01: #FA4D56;
    ///     --io-inverse-support-02: #42BE65;
    ///     --io-inverse-support-03: #F1C21B;
    ///     --io-inverse-support-04: #4589FF;
    ///     --io-label-01-font-size: 0.75rem;
    ///     --io-label-01-font-weight: 400;
    ///     --io-label-01-letter-spacing: 0.32px;
    ///     --io-label-01-line-height: 1.33333;
    ///     --io-label-02-font-size: 0.875rem;
    ///     --io-label-02-font-weight: 400;
    ///     --io-label-02-letter-spacing: 0.16px;
    ///     --io-label-02-line-height: 1.28572;
    ///     --io-layer: #F4F4F4;
    ///     --io-layer-accent: #E0E0E0;
    ///     --io-layer-accent-active: #A8A8A8;
    ///     --io-layer-accent-hover: #D1D1D1;
    ///     --io-layer-active: #C6C6C6;
    ///     --io-layer-disabled: #F4F4F4;
    ///     --io-layer-hover: #E5E5E5;
    ///     --io-layer-selected: #E0E0E0;
    ///     --io-layer-selected-disabled: #8D8D8D;
    ///     --io-layer-selected-hover: #CACACA;
    ///     --io-layer-selected-inverse: #161616;
    ///     --io-layout-01: 1rem;
    ///     --io-layout-02: 1.5rem;
    ///     --io-layout-03: 2rem;
    ///     --io-layout-04: 3rem;
    ///     --io-layout-05: 4rem;
    ///     --io-layout-06: 6rem;
    ///     --io-layout-07: 10rem;
    ///     --io-legal-01-font-size: 0.75rem;
    ///     --io-legal-01-font-weight: 400;
    ///     --io-legal-01-letter-spacing: 0.32px;
    ///     --io-legal-01-line-height: 1.33333;
    ///     --io-legal-02-font-size: 0.875rem;
    ///     --io-legal-02-font-weight: 400;
    ///     --io-legal-02-letter-spacing: 0.16px;
    ///     --io-legal-02-line-height: 1.28572;
    ///     --io-link-01: #0F62FE;
    ///     --io-link-02: #0043CE;
    ///     --io-link-inverse: #78A9FF;
    ///     --io-link-primary: #0F62FE;
    ///     --io-link-primary-hover: #0043CE;
    ///     --io-link-secondary: #0043CE;
    ///     --io-link-visited: #8A3FFC;
    ///     --io-overlay: rgba(22, 22, 22, 0.5);
    ///     --io-overlay-01: rgba(22, 22, 22, 0.5);
    ///     --io-productive-heading-01-font-size: 0.875rem;
    ///     --io-productive-heading-01-font-weight: 600;
    ///     --io-productive-heading-01-letter-spacing: 0.16px;
    ///     --io-productive-heading-01-line-height: 1.28572;
    ///     --io-productive-heading-02-font-size: 1rem;
    ///     --io-productive-heading-02-font-weight: 600;
    ///     --io-productive-heading-02-letter-spacing: 0;
    ///     --io-productive-heading-02-line-height: 1.375;
    ///     --io-productive-heading-03-font-size: 1.25rem;
    ///     --io-productive-heading-03-font-weight: 400;
    ///     --io-productive-heading-03-letter-spacing: 0;
    ///     --io-productive-heading-03-line-height: 1.4;
    ///     --io-productive-heading-04-font-size: 1.75rem;
    ///     --io-productive-heading-04-font-weight: 400;
    ///     --io-productive-heading-04-letter-spacing: 0;
    ///     --io-productive-heading-04-line-height: 1.28572;
    ///     --io-productive-heading-05-font-size: 2rem;
    ///     --io-productive-heading-05-font-weight: 400;
    ///     --io-productive-heading-05-letter-spacing: 0;
    ///     --io-productive-heading-05-line-height: 1.25;
    ///     --io-productive-heading-06-font-size: 2.625rem;
    ///     --io-productive-heading-06-font-weight: 300;
    ///     --io-productive-heading-06-letter-spacing: 0;
    ///     --io-productive-heading-06-line-height: 1.199;
    ///     --io-productive-heading-07-font-size: 3.375rem;
    ///     --io-productive-heading-07-font-weight: 300;
    ///     --io-productive-heading-07-letter-spacing: 0;
    ///     --io-productive-heading-07-line-height: 1.199;
    ///     --io-quotation-01-font-family: "IBM Plex Serif", "Georgia", Times, serif;
    ///     --io-quotation-01-font-size: 1.25rem;
    ///     --io-quotation-01-font-weight: 400;
    ///     --io-quotation-01-letter-spacing: 0;
    ///     --io-quotation-01-line-height: 1.3;
    ///     --io-quotation-02-font-family: "IBM Plex Serif", "Georgia", Times, serif;
    ///     --io-quotation-02-font-size: 2rem;
    ///     --io-quotation-02-font-weight: 300;
    ///     --io-quotation-02-letter-spacing: 0;
    ///     --io-quotation-02-line-height: 1.25;
    ///     --io-selected-light-ui: #E0E0E0;
    ///     --io-selected-ui: #E0E0E0;
    ///     --io-shadow: rgba(0, 0, 0, 0.3);
    ///     --io-size-2XLarge: 5rem;
    ///     --io-size-large: 3rem;
    ///     --io-size-medium: 2.5rem;
    ///     --io-size-small: 2rem;
    ///     --io-size-xlarge: 4rem;
    ///     --io-size-xsmall: 1.5rem;
    ///     --io-skeleton-01: #E5E5E5;
    ///     --io-skeleton-02: #C6C6C6;
    ///     --io-skeleton-background: #E5E5E5;
    ///     --io-skeleton-element: #C6C6C6;
    ///     --io-spacing-01: 0.125rem;
    ///     --io-spacing-02: 0.25rem;
    ///     --io-spacing-03: 0.5rem;
    ///     --io-spacing-04: 0.75rem;
    ///     --io-spacing-05: 1rem;
    ///     --io-spacing-06: 1.5rem;
    ///     --io-spacing-07: 2rem;
    ///     --io-spacing-08: 2.5rem;
    ///     --io-spacing-09: 3rem;
    ///     --io-spacing-10: 4rem;
    ///     --io-spacing-11: 5rem;
    ///     --io-spacing-12: 6rem;
    ///     --io-spacing-13: 10rem;
    ///     --io-support-01: #DA1E28;
    ///     --io-support-02: #198038;
    ///     --io-support-03: #F1C21B;
    ///     --io-support-04: #0043CE;
    ///     --io-support-error: #DA1E28;
    ///     --io-support-error-inverse: #FA4D56;
    ///     --io-support-info: #0043CE;
    ///     --io-support-info-inverse: #4589FF;
    ///     --io-support-success: #198038;
    ///     --io-support-success-inverse: #42BE65;
    ///     --io-support-warning: #F1C21B;
    ///     --io-support-warning-inverse: #F1C21B;
    ///     --io-text-01: #161616;
    ///     --io-text-02: #525252;
    ///     --io-text-03: #A8A8A8;
    ///     --io-text-04: #FFFFFF;
    ///     --io-text-05: #6F6F6F;
    ///     --io-text-disabled: #C6C6C6;
    ///     --io-text-error: #DA1E28;
    ///     --io-text-helper: #6F6F6F;
    ///     --io-text-inverse: #FFFFFF;
    ///     --io-text-on-color: #FFFFFF;
    ///     --io-text-on-color-disabled: #8D8D8D;
    ///     --io-text-placeholder: #A8A8A8;
    ///     --io-text-primary: #161616;
    ///     --io-text-secondary: #525252;
    ///     --io-toggle-off: #8D8D8D;
    ///     --io-ui-01: #F4F4F4;
    ///     --io-ui-02: #FFFFFF;
    ///     --io-ui-03: #E0E0E0;
    ///     --io-ui-04: #8D8D8D;
    ///     --io-ui-05: #161616;
    ///     --io-ui-background: #FFFFFF;:  #FFFFFF;
    ///     --io-visited-link: #8A3FFC;
    --pf-global--palette--black-100:#fafafa;
    --pf-global--palette--black-150:#f5f5f5;
    --pf-global--palette--black-200:#f0f0f0;
    --pf-global--palette--black-300:#d2d2d2;
    --pf-global--palette--black-400:#b8bbbe;
    --pf-global--palette--black-500:#8a8d90;
    --pf-global--palette--black-600:#6a6e73;
    --pf-global--palette--black-700:#4f5255;
    --pf-global--palette--black-800:#3c3f42;
    --pf-global--palette--black-850:#212427;
    --pf-global--palette--black-900:#151515;
    --pf-global--palette--black-1000:#030303;
    --pf-global--palette--blue-50:#e7f1fa;
    --pf-global--palette--blue-100:#bee1f4;
    --pf-global--palette--blue-200:#73bcf7;
    --pf-global--palette--blue-300:#2b9af3;
    --pf-global--palette--blue-400:#06c;
    --pf-global--palette--blue-500:#004080;
    --pf-global--palette--blue-600:#002952;
    --pf-global--palette--blue-700:#001223;
    --pf-global--palette--cyan-50:#f2f9f9;
    --pf-global--palette--cyan-100:#a2d9d9;
    --pf-global--palette--cyan-200:#73c5c5;
    --pf-global--palette--cyan-300:#009596;
    --pf-global--palette--cyan-400:#005f60;
    --pf-global--palette--cyan-500:#003737;
    --pf-global--palette--cyan-600:#002323;
    --pf-global--palette--cyan-700:#000f0f;
    --pf-global--palette--gold-50:#fdf7e7;
    --pf-global--palette--gold-100:#f9e0a2;
    --pf-global--palette--gold-200:#f6d173;
    --pf-global--palette--gold-300:#f4c145;
    --pf-global--palette--gold-400:#f0ab00;
    --pf-global--palette--gold-500:#c58c00;
    --pf-global--palette--gold-600:#795600;
    --pf-global--palette--gold-700:#3d2c00;
    --pf-global--palette--green-50:#f3faf2;
    --pf-global--palette--green-100:#bde5b8;
    --pf-global--palette--green-200:#95d58e;
    --pf-global--palette--green-300:#6ec664;
    --pf-global--palette--green-400:#5ba352;
    --pf-global--palette--green-500:#3e8635;
    --pf-global--palette--green-600:#1e4f18;
    --pf-global--palette--green-700:#0f280d;
    --pf-global--palette--light-blue-100:#beedf9;
    --pf-global--palette--light-blue-200:#7cdbf3;
    --pf-global--palette--light-blue-300:#35caed;
    --pf-global--palette--light-blue-400:#00b9e4;
    --pf-global--palette--light-blue-500:#008bad;
    --pf-global--palette--light-blue-600:#005c73;
    --pf-global--palette--light-blue-700:#002d39;
    --pf-global--palette--light-green-100:#e4f5bc;
    --pf-global--palette--light-green-200:#c8eb79;
    --pf-global--palette--light-green-300:#ace12e;
    --pf-global--palette--light-green-400:#92d400;
    --pf-global--palette--light-green-500:#6ca100;
    --pf-global--palette--light-green-600:#486b00;
    --pf-global--palette--light-green-700:#253600;
    --pf-global--palette--orange-100:#f4b678;
    --pf-global--palette--orange-200:#ef9234;
    --pf-global--palette--orange-300:#ec7a08;
    --pf-global--palette--orange-400:#c46100;
    --pf-global--palette--orange-500:#8f4700;
    --pf-global--palette--orange-600:#773d00;
    --pf-global--palette--orange-700:#3b1f00;
    --pf-global--palette--purple-50:#f2f0fc;
    --pf-global--palette--purple-100:#cbc1ff;
    --pf-global--palette--purple-200:#b2a3ff;
    --pf-global--palette--purple-300:#a18fff;
    --pf-global--palette--purple-400:#8476d1;
    --pf-global--palette--purple-500:#6753ac;
    --pf-global--palette--purple-600:#40199a;
    --pf-global--palette--purple-700:#1f0066;
    --pf-global--palette--red-50:#faeae8;
    --pf-global--palette--red-100:#c9190b;
    --pf-global--palette--red-200:#a30000;
    --pf-global--palette--red-300:#7d1007;
    --pf-global--palette--red-400:#470000;
    --pf-global--palette--red-500:#2c0000;
    --pf-global--palette--white:#fff;
    --pf-global--BackgroundColor--100:#fff;
    --pf-global--BackgroundColor--200:#f0f0f0;
    --pf-global--BackgroundColor--light-100:#fff;
    --pf-global--BackgroundColor--light-200:#fafafa;
    --pf-global--BackgroundColor--light-300:#f0f0f0;
    --pf-global--BackgroundColor--dark-100:#151515;
    --pf-global--BackgroundColor--dark-200:#3c3f42;
    --pf-global--BackgroundColor--dark-300:#212427;
    --pf-global--BackgroundColor--dark-400:#4f5255;
    --pf-global--BackgroundColor--dark-transparent-100:rgba(3, 3, 3, 0.62);
    --pf-global--BackgroundColor--dark-transparent-200:rgba(3, 3, 3, 0.32);
    --pf-global--Color--100:#151515;
    --pf-global--Color--200:#6a6e73;
    --pf-global--Color--300:#3c3f42;
    --pf-global--Color--400:#8a8d90;
    --pf-global--Color--light-100:#fff;
    --pf-global--Color--light-200:#f0f0f0;
    --pf-global--Color--light-300:#d2d2d2;
    --pf-global--Color--dark-100:#151515;
    --pf-global--Color--dark-200:#6a6e73;
    --pf-global--active-color--100:#06c;
    --pf-global--active-color--200:#bee1f4;
    --pf-global--active-color--300:#2b9af3;
    --pf-global--active-color--400:#73bcf7;
    --pf-global--disabled-color--100:#6a6e73;
    --pf-global--disabled-color--200:#d2d2d2;
    --pf-global--disabled-color--300:#f0f0f0;
    --pf-global--primary-color--100:#06c;
    --pf-global--primary-color--200:#004080;
    --pf-global--primary-color--light-100:#73bcf7;
    --pf-global--primary-color--dark-100:#06c;
    --pf-global--secondary-color--100:#6a6e73;
    --pf-global--default-color--100:#73c5c5;
    --pf-global--default-color--200:#009596;
    --pf-global--default-color--300:#003737;
    --pf-global--success-color--100:#3e8635;
    --pf-global--success-color--200:#1e4f18;
    --pf-global--info-color--100:#2b9af3;
    --pf-global--info-color--200:#002952;
    --pf-global--warning-color--100:#f0ab00;
    --pf-global--warning-color--200:#795600;
    --pf-global--danger-color--100:#c9190b;
    --pf-global--danger-color--200:#a30000;
    --pf-global--danger-color--300:#470000;
    --pf-global--BoxShadow--sm:0 0.0625rem 0.125rem 0 rgba(3, 3, 3, 0.12), 0 0 0.125rem 0 rgba(3, 3, 3, 0.06);
    --pf-global--BoxShadow--sm-top:0 -0.125rem 0.25rem -0.0625rem rgba(3, 3, 3, 0.16);
    --pf-global--BoxShadow--sm-right:0.125rem 0 0.25rem -0.0625rem rgba(3, 3, 3, 0.16);
    --pf-global--BoxShadow--sm-bottom:0 0.125rem 0.25rem -0.0625rem rgba(3, 3, 3, 0.16);
    --pf-global--BoxShadow--sm-left:-0.125rem 0 0.25rem -0.0625rem rgba(3, 3, 3, 0.16);
    --pf-global--BoxShadow--md:0 0.25rem 0.5rem 0rem rgba(3, 3, 3, 0.12), 0 0 0.25rem 0 rgba(3, 3, 3, 0.06);
    --pf-global--BoxShadow--md-top:0 -0.5rem 0.5rem -0.375rem rgba(3, 3, 3, 0.18);
    --pf-global--BoxShadow--md-right:0.5rem 0 0.5rem -0.375rem rgba(3, 3, 3, 0.18);
    --pf-global--BoxShadow--md-bottom:0 0.5rem 0.5rem -0.375rem rgba(3, 3, 3, 0.18);
    --pf-global--BoxShadow--md-left:-0.5rem 0 0.5rem -0.375rem rgba(3, 3, 3, 0.18);
    --pf-global--BoxShadow--lg:0 0.5rem 1rem 0 rgba(3, 3, 3, 0.16), 0 0 0.375rem 0 rgba(3, 3, 3, 0.08);
    --pf-global--BoxShadow--lg-top:0 -0.75rem 0.75rem -0.5rem rgba(3, 3, 3, 0.18);
    --pf-global--BoxShadow--lg-right:0.75rem 0 0.75rem -0.5rem rgba(3, 3, 3, 0.18);
    --pf-global--BoxShadow--lg-bottom:0 0.75rem 0.75rem -0.5rem rgba(3, 3, 3, 0.18);
    --pf-global--BoxShadow--lg-left:-0.75rem 0 0.75rem -0.5rem rgba(3, 3, 3, 0.18);
    --pf-global--BoxShadow--xl:0 1rem 2rem 0 rgba(3, 3, 3, 0.16), 0 0 0.5rem 0 rgba(3, 3, 3, 0.1);
    --pf-global--BoxShadow--xl-top:0 -1rem 1rem -0.5rem rgba(3, 3, 3, 0.2);
    --pf-global--BoxShadow--xl-right:1rem 0 1rem -0.5rem rgba(3, 3, 3, 0.2);
    --pf-global--BoxShadow--xl-bottom:0 1rem 1rem -0.5rem rgba(3, 3, 3, 0.2);
    --pf-global--BoxShadow--xl-left:-1rem 0 1rem -0.5rem rgba(3, 3, 3, 0.2);
    --pf-global--BoxShadow--inset:inset 0 0 0.625rem 0 rgba(3, 3, 3, 0.25);
    --pf-global--font-path:"./assets/fonts";
    --pf-global--fonticon-path:"./assets/pficon";
    --pf-global--spacer--xs:0.25rem;
    --pf-global--spacer--sm:0.5rem;
    --pf-global--spacer--md:1rem;
    --pf-global--spacer--lg:1.5rem;
    --pf-global--spacer--xl:2rem;
    --pf-global--spacer--2xl:3rem;
    --pf-global--spacer--3xl:4rem;
    --pf-global--spacer--4xl:5rem;
    --pf-global--spacer--form-element:0.375rem;
    --pf-global--gutter:1rem;
    --pf-global--gutter--md:1.5rem;
    --pf-global--ZIndex--xs:100;
    --pf-global--ZIndex--sm:200;
    --pf-global--ZIndex--md:300;
    --pf-global--ZIndex--lg:400;
    --pf-global--ZIndex--xl:500;
    --pf-global--ZIndex--2xl:600;
    --pf-global--breakpoint--xs:0;
    --pf-global--breakpoint--sm:576px;
    --pf-global--breakpoint--md:768px;
    --pf-global--breakpoint--lg:992px;
    --pf-global--breakpoint--xl:1200px;
    --pf-global--breakpoint--2xl:1450px;
    --pf-global--link--Color:    #06c;
    --pf-global--link--Color--hover:    #004080;
    --pf-global--link--Color--light:    #2b9af3;
    --pf-global--link--Color--light--hover:    #73bcf7;
    --pf-global--link--Color--dark:    #06c;
    --pf-global--link--Color--dark--hover:    #004080;
    --pf-global--link--Color--visited:    #40199a;
    --pf-global--link--TextDecoration:    none;
    --pf-global--link--TextDecoration--hover:    underline;
    --pf-global--BorderWidth--sm:1px;
    --pf-global--BorderWidth--md:2px;
    --pf-global--BorderWidth--lg:3px;
    --pf-global--BorderWidth--xl:4px;
    --pf-global--BorderColor--100: #d2d2d2;
    --pf-global--BorderColor--200: #8a8d90;
    --pf-global--BorderColor--300: #f0f0f0;
    --pf-global--BorderColor--dark-100: #d2d2d2;
    --pf-global--BorderColor--light-100: #b8bbbe;
    --pf-global--BorderRadius--sm:3px;
    --pf-global--BorderRadius--lg:30em;
    --pf-global--icon--Color--light:  #6a6e73;
    --pf-global--icon--Color--dark:  #151515;
    --pf-global--icon--FontSize--md:1.125rem;
    --pf-global--icon--FontSize--lg:1.5rem;
    --pf-global--FontFamily--sans-serif:"RedHatText", "Overpass", overpass, helvetica, arial, sans-serif;
    --pf-global--FontFamily--redhat-updated--sans-serif:"RedHatTextUpdated", "Overpass", overpass, helvetica, arial, sans-serif;
    --pf-global--FontFamily--redhat-updated--heading--sans-serif:"RedHatDisplayUpdated", "Overpass", overpass, helvetica, arial, sans-serif;
    --pf-global--FontFamily--redhatVF--sans-serif:"RedHatTextVF", "RedHatText", "Overpass", overpass, helvetica, arial, sans-serif;
    --pf-global--FontFamily--redhatVF--heading--sans-serif:"RedHatDisplayVF", "RedHatDisplay", "Overpass", overpass, helvetica, arial, sans-serif;
    --pf-global--FontFamily--overpass--sans-serif:"overpass", overpass, "open sans", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --pf-global--FontSize--4xl:2.25rem;
    --pf-global--FontSize--3xl:1.75rem;
    --pf-global--FontSize--2xl:1.5rem;
    --pf-global--FontSize--xl:1.25rem;
    --pf-global--FontSize--lg:1.125rem;
    --pf-global--FontSize--md:1rem;
    --global--FontSize--sm:0.875rem;
    --pf-global--FontSize--xs:0.75rem;
    --pf-global--FontWeight--light:300;
    --pf-global--FontWeight--normal:400;
    --pf-global--FontWeight--semi-bold:700;
    --pf-global--FontWeight--overpass--semi-bold:500;
    --pf-global--FontWeight--bold:700;
    --pf-global--FontWeight--overpass--bold:600;
    --pf-global--LineHeight--sm:1.3;
    --pf-global--LineHeight--md:1.5;
    --pf-global--ListStyle:disc outside;
    --pf-global--Transition:all 250ms cubic-bezier(0.42, 0, 0.58, 1);
    --pf-global--TimingFunction:cubic-bezier(0.645, 0.045, 0.355, 1);
    --pf-global--TransitionDuration:250ms;
    --pf-global--arrow--width:0.9375rem;
    --pf-global--arrow--width-lg:1.5625rem;
    --pf-global--target-size--MinWidth:44px;
    --pf-global--target-size--MinHeight:44px;
    --pf-chart-color-blue-100:  #8bc1f7;
    --pf-chart-color-blue-200:  #519de9;
    --pf-chart-color-blue-300:  #06c;
    --pf-chart-color-blue-400:  #004b95;
    --pf-chart-color-blue-500:  #002f5d;
    --pf-chart-color-green-100:  #bde2b9;
    --pf-chart-color-green-200:  #7cc674;
    --pf-chart-color-green-300:  #4cb140;
    --pf-chart-color-green-400:  #38812f;
    --pf-chart-color-green-500:  #23511e;
    --pf-chart-color-cyan-100:  #a2d9d9;
    --pf-chart-color-cyan-200:  #73c5c5;
    --pf-chart-color-cyan-300:  #009596;
    --pf-chart-color-cyan-400:  #005f60;
    --pf-chart-color-cyan-500:  #003737;
    --pf-chart-color-purple-100:  #b2b0ea;
    --pf-chart-color-purple-200:  #8481dd;
    --pf-chart-color-purple-300:  #5752d1;
    --pf-chart-color-purple-400:  #3c3d99;
    --pf-chart-color-purple-500:  #2a265f;
    --pf-chart-color-gold-100:  #f9e0a2;
    --pf-chart-color-gold-200:  #f6d173;
    --pf-chart-color-gold-300:  #f4c145;
    --pf-chart-color-gold-400:  #f0ab00;
    --pf-chart-color-gold-500:  #c58c00;
    --pf-chart-color-orange-100:  #f4b678;
    --pf-chart-color-orange-200:  #ef9234;
    --pf-chart-color-orange-300:  #ec7a08;
    --pf-chart-color-orange-400:  #c46100;
    --pf-chart-color-orange-500:  #8f4700;
    --pf-chart-color-red-100:  #c9190b;
    --pf-chart-color-red-200:  #a30000;
    --pf-chart-color-red-300:  #7d1007;
    --pf-chart-color-red-400:  #470000;
    --pf-chart-color-red-500:  #2c0000;
    --pf-chart-color-black-100:  #f0f0f0;
    --pf-chart-color-black-200:  #d2d2d2;
    --pf-chart-color-black-300:  #b8bbbe;
    --pf-chart-color-black-400:  #8a8d90;
    --pf-chart-color-black-500:  #6a6e73;
    --pf-chart-global--FontSize--xs:12;
    --pf-chart-global--FontSize--sm:14;
    --pf-chart-global--FontSize--lg:18;
    --pf-chart-global--FontSize--2xl:24;
    --pf-chart-global--FontFamily:"RedHatText", "Overpass", overpass, helvetica, arial, sans-serif;
    --pf-chart-global--letter-spacing:normal;
    --pf-chart-global--label--Padding:10;
    --pf-chart-global--label--Margin:8;
    --pf-chart-global--label--stroke:transparent;
    --pf-chart-global--label--text-anchor:middle;
    --pf-chart-global--label--stroke--Width:0;
    --pf-chart-global--label--Fill:#151515;
    --pf-chart-global--layout--Padding:50;
    --pf-chart-global--layout--Height:300;
    --pf-chart-global--layout--Width:450;
    --pf-chart-global--stroke--Width--xs:1;
    --pf-chart-global--stroke--Width--sm:2;
    --pf-chart-global--BorderWidth--xs:1;
    --pf-chart-global--BorderWidth--sm:2;
    --pf-chart-global--BorderWidth--lg:8;
    --pf-chart-global--stroke-line-cap:round;
    --pf-chart-global--stroke-line-join:round;
    --pf-chart-global--danger--Color--100:#c9190b;
    --pf-chart-global--warning--Color--100:#ec7a08;
    --pf-chart-global--warning--Color--200:#f0ab00;
    --pf-chart-global--success--Color--100:#06c;
    --pf-chart-global--Fill--Color--900:#151515;
    --pf-chart-global--Fill--Color--700:#4f5255;
    --pf-chart-global--Fill--Color--500:#8a8d90;
    --pf-chart-global--Fill--Color--400:#b8bbbe;
    --pf-chart-global--Fill--Color--300:#d2d2d2;
    --pf-chart-global--Fill--Color--200:#f0f0f0;
    --pf-chart-global--Fill--Color--white:#fff;
    --pf-chart-area--Opacity:0.3;
    --pf-chart-area--stroke--Width:2;
    --pf-chart-area--data--Fill:#151515;
    --pf-chart-axis--axis--stroke--Width:1;
    --pf-chart-axis--axis--stroke--Color:#d2d2d2;
    --pf-chart-axis--axis--Fill:transparent;
    --pf-chart-axis--axis-label--Padding:40;
    --pf-chart-axis--axis-label--stroke--Color:transparent;
    --pf-chart-axis--grid--Fill:none;
    --pf-chart-axis--grid--stroke--Color:#d2d2d2;
    --pf-chart-axis--grid--PointerEvents:painted;
    --pf-chart-axis--tick--Fill:transparent;
    --pf-chart-axis--tick--Size:5;
    --pf-chart-axis--tick--Width:1;
    --pf-chart-axis--tick--stroke--Color:#d2d2d2;
    --pf-chart-axis--tick-label--Fill:#4f5255;
    --pf-chart-bar--Width:10;
    --pf-chart-bar--data--stroke:none;
    --pf-chart-bar--data--Fill:#151515;
    --pf-chart-bar--data--Padding:8;
    --pf-chart-bar--data-stroke--Width:0;
    --pf-chart-boxplot--max--Padding:8;
    --pf-chart-boxplot--max--stroke--Color:#151515;
    --pf-chart-boxplot--max--stroke--Width:1;
    --pf-chart-boxplot--median--Padding:8;
    --pf-chart-boxplot--median--stroke--Color:#151515;
    --pf-chart-boxplot--median--stroke--Width:1;
    --pf-chart-boxplot--min--Padding:8;
    --pf-chart-boxplot--min--stroke--Width:1;
    --pf-chart-boxplot--min--stroke--Color:#151515;
    --pf-chart-boxplot--lower-quartile--Padding:8;
    --pf-chart-boxplot--lower-quartile--Fill:#8a8d90;
    --pf-chart-boxplot--upper-quartile--Padding:8;
    --pf-chart-boxplot--upper-quartile--Fill:#8a8d90;
    --pf-chart-boxplot--box--Width:20;
    --pf-chart-bullet--axis--tick--count:5;
    --pf-chart-bullet--comparative-measure--Fill--Color:#4f5255;
    --pf-chart-bullet--comparative-measure--stroke--Color:#4f5255;
    --pf-chart-bullet--comparative-measure--stroke--Width:1;
    --pf-chart-bullet--comparative-measure--error--Fill--Color:#c9190b;
    --pf-chart-bullet--comparative-measure--error--stroke--Color:#c9190b;
    --pf-chart-bullet--comparative-measure--error--stroke--Width:2;
    --pf-chart-bullet--comparative-measure--error--Width:30;
    --pf-chart-bullet--comparative-measure--warning--Fill--Color:#ec7a08;
    --pf-chart-bullet--comparative-measure--warning--stroke--Color:#ec7a08;
    --pf-chart-bullet--comparative-measure--warning--stroke--Width:2;
    --pf-chart-bullet--comparative-measure--warning--Width:30;
    --pf-chart-bullet--comparative-measure--Width:30;
    --pf-chart-bullet--group-title--divider--Fill--Color:#f0f0f0;
    --pf-chart-bullet--group-title--divider--stroke--Color:#f0f0f0;
    --pf-chart-bullet--group-title--divider--stroke--Width:2;
    --pf-chart-bullet--Height:140;
    --pf-chart-bullet--label--subtitle--Fill:#b8bbbe;
    --pf-chart-bullet--primary-measure--dot--size:6;
    --pf-chart-bullet--primary-measure--segmented--Width:9;
    --pf-chart-bullet--qualitative-range--Width:30;
    --pf-chart-candelstick--data--stroke--Width:1;
    --pf-chart-candelstick--data--stroke--Color:#151515;
    --pf-chart-candelstick--candle--positive--Color:#fff;
    --pf-chart-candelstick--candle--negative--Color:#151515;
    --pf-chart-donut--label--subtitle--Fill:#b8bbbe;
    --pf-chart-donut--label--subtitle--position:center;
    --pf-chart-donut--pie--Height:230;
    --pf-chart-donut--pie--angle--Padding:1;
    --pf-chart-donut--pie--Padding:20;
    --pf-chart-donut--pie--Width:230;
    --pf-chart-donut--threshold--first--Color:#f0f0f0;
    --pf-chart-donut--threshold--second--Color:#d2d2d2;
    --pf-chart-donut--threshold--third--Color:#b8bbbe;
    --pf-chart-donut--threshold--warning--Color:#f0ab00;
    --pf-chart-donut--threshold--danger--Color:#c9190b;
    --pf-chart-donut--threshold--dynamic--pie--Height:202;
    --pf-chart-donut--threshold--dynamic--pie--Padding:20;
    --pf-chart-donut--threshold--dynamic--pie--Width:202;
    --pf-chart-donut--threshold--static--pie--Height:230;
    --pf-chart-donut--threshold--static--pie--angle--Padding:1;
    --pf-chart-donut--threshold--static--pie--Padding:20;
    --pf-chart-donut--threshold--static--pie--Width:230;
    --pf-chart-donut--utilization--dynamic--pie--Height:230;
    --pf-chart-donut--utilization--dynamic--pie--angle--Padding:1;
    --pf-chart-donut--utilization--dynamic--pie--Padding:20;
    --pf-chart-donut--utilization--dynamic--pie--Width:230;
    --pf-chart-donut--utilization--static--pie--Padding:20;
    --pf-chart-errorbar--BorderWidth:8;
    --pf-chart-errorbar--data--Fill:transparent;
    --pf-chart-errorbar--data--Opacity:1;
    --pf-chart-errorbar--data-stroke--Width:2;
    --pf-chart-errorbar--data-stroke--Color:#151515;
    --pf-chart-legend--gutter--Width:20;
    --pf-chart-legend--orientation:horizontal;
    --pf-chart-legend--position:right;
    --pf-chart-legend--title--orientation:top;
    --pf-chart-legend--data--type:square;
    --pf-chart-legend--title--Padding:2;
    --pf-chart-legend--Margin:16;
    --pf-chart-line--data--Fill:transparent;
    --pf-chart-line--data--Opacity:1;
    --pf-chart-line--data--stroke--Width:2;
    --pf-chart-line--data--stroke--Color:#151515;
    --pf-chart-pie--Padding:20;
    --pf-chart-pie--data--Padding:8;
    --pf-chart-pie--data--stroke--Width:1;
    --pf-chart-pie--data--stroke--Color:transparent;
    --pf-chart-pie--labels--Padding:8;
    --pf-chart-pie--Height:230;
    --pf-chart-pie--Width:230;
    --pf-chart-scatter--data--stroke--Color:transparent;
    --pf-chart-scatter--data--stroke--Width:0;
    --pf-chart-scatter--data--Opacity:1;
    --pf-chart-scatter--data--Fill:#151515;
    --pf-chart-scatter--active--size:5;
    --pf-chart-scatter--size:3;
    --pf-chart-stack--data--stroke--Width:1;
    --pf-chart-threshold--stroke-dash-array:4,2;
    --pf-chart-threshold--stroke--Width:1.5;
    --pf-chart-tooltip--corner-radius:0;
    --pf-chart-tooltip--pointer-length:10;
    --pf-chart-tooltip--Fill:#f0f0f0;
    --pf-chart-tooltip--flyoutStyle--corner-radius:0;
    --pf-chart-tooltip--flyoutStyle--stroke--Width:0;
    --pf-chart-tooltip--flyoutStyle--PointerEvents:none;
    --pf-chart-tooltip--flyoutStyle--stroke--Color:#151515;
    --pf-chart-tooltip--flyoutStyle--Fill:#151515;
    --pf-chart-tooltip--pointer--Width:20;
    --pf-chart-tooltip--Padding:8;
    --pf-chart-tooltip--PointerEvents:none;
    --pf-chart-voronoi--data--Fill:transparent;
    --pf-chart-voronoi--data--stroke--Color:transparent;
    --pf-chart-voronoi--data--stroke--Width:0;
    --pf-chart-voronoi--labels--Padding:8;
    --pf-chart-voronoi--labels--Fill:#f0f0f0;
    --pf-chart-voronoi--labels--PointerEvents:none;
    --pf-chart-voronoi--flyout--stroke--Width:1;
    --pf-chart-voronoi--flyout--PointerEvents:none;
    --pf-chart-voronoi--flyout--stroke--Color:#151515;
    --pf-chart-voronoi--flyout--stroke--Fill:#151515;
}
