@forward "variables";
@forward "spacing";
@forward "colors";
@forward "fonts";

@use "globals" as *;
@use "variables" as *;

@use "spacing" as *;
@use "colors" as *;
@use "fonts" as *;

@use "utilities";

:root {
    --global-font-size: #{$global-font-size};
    --global-sans-font: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
    --global-sans-serif-font: "IBM Plex Serif", serif;
    --global-mono-font: "IBM Plex Mono", Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    --global-line-height: #{$global-line-height};
    --global-page-padding: #{$global-page-padding};
    --global-base-font-size: #{$global-base-font-size};
    --global-navigation-menu-height: #{$global-navigation-menu-height};
    --global-footer-height: #{$global-footer-height};
    --global-spacing-01: #{$spacing-01};
    --global-spacing-02: #{$spacing-02};
    --global-spacing-03: #{$spacing-03};
    --global-spacing-04: #{$spacing-04};
    --global-spacing-05: #{$spacing-05};
    --global-spacing-06: #{$spacing-06};
    --global-spacing-07: #{$spacing-07};
    --global-spacing-08: #{$spacing-08};
    --global-spacing-09: #{$spacing-09};
    --global-spacing-10: #{$spacing-10};
    --global-spacing-11: #{$spacing-11};
    --global-spacing-12: #{$spacing-12};
    --global-spacing-13: #{$spacing-13};
    --global-black: #{$black};
    --global-black-100: #{$black-100};
    --global-black-hover: #{$black-hover};
    --global-black-layer: #{$black-layer};
    --global-white: #{$white};
    --global-white-100: #{$white-100};
    --global-white-hover: #{$white-hover};
    --global-blue-10: #{$blue-10};
    --global-blue-20: #{$blue-20};
    --global-blue-30: #{$blue-30};
    --global-blue-40: #{$blue-40};
    --global-blue-50: #{$blue-50};
    --global-blue-60: #{$blue-60};
    --global-blue-70: #{$blue-70};
    --global-blue-80: #{$blue-80};
    --global-blue-90: #{$blue-90};
    --global-blue-100: #{$blue-100};
    --global-cool-gray-10: #{$cool-gray-10};
    --global-cool-gray-20: #{$cool-gray-20};
    --global-cool-gray-30: #{$cool-gray-30};
    --global-cool-gray-40: #{$cool-gray-40};
    --global-cool-gray-50: #{$cool-gray-50};
    --global-cool-gray-60: #{$cool-gray-60};
    --global-cool-gray-70: #{$cool-gray-70};
    --global-cool-gray-80: #{$cool-gray-80};
    --global-cool-gray-90: #{$cool-gray-90};
    --global-cool-gray-100: #{$cool-gray-100};
    --global-cyan-10: #{$cyan-10};
    --global-cyan-20: #{$cyan-20};
    --global-cyan-30: #{$cyan-30};
    --global-cyan-40: #{$cyan-40};
    --global-cyan-50: #{$cyan-50};
    --global-cyan-60: #{$cyan-60};
    --global-cyan-70: #{$cyan-70};
    --global-cyan-80: #{$cyan-80};
    --global-cyan-90: #{$cyan-90};
    --global-cyan-100: #{$cyan-100};
    --global-gray-10: #{$gray-10};
    --global-gray-20: #{$gray-20};
    --global-gray-30: #{$gray-30};
    --global-gray-40: #{$gray-40};
    --global-gray-50: #{$gray-50};
    --global-gray-60: #{$gray-60};
    --global-gray-70: #{$gray-70};
    --global-gray-80: #{$gray-80};
    --global-gray-90: #{$gray-90};
    --global-gray-100: #{$gray-100};
    --global-green-10: #{$green-10};
    --global-green-20: #{$green-20};
    --global-green-30: #{$green-30};
    --global-green-40: #{$green-40};
    --global-green-50: #{$green-50};
    --global-green-60: #{$green-60};
    --global-green-70: #{$green-70};
    --global-green-80: #{$green-80};
    --global-green-90: #{$green-90};
    --global-green-100: #{$green-100};
    --global-magenta-10: #{$magenta-10};
    --global-magenta-20: #{$magenta-20};
    --global-magenta-30: #{$magenta-30};
    --global-magenta-40: #{$magenta-40};
    --global-magenta-50: #{$magenta-50};
    --global-magenta-60: #{$magenta-60};
    --global-magenta-70: #{$magenta-70};
    --global-magenta-80: #{$magenta-80};
    --global-magenta-90: #{$magenta-90};
    --global-magenta-100: #{$magenta-100};
    --global-orange-10: #{$orange-10};
    --global-orange-20: #{$orange-20};
    --global-orange-30: #{$orange-30};
    --global-orange-40: #{$orange-40};
    --global-orange-50: #{$orange-50};
    --global-orange-60: #{$orange-60};
    --global-orange-70: #{$orange-70};
    --global-orange-80: #{$orange-80};
    --global-orange-90: #{$orange-90};
    --global-orange-100: #{$orange-100};
    --global-purple-10: #{$purple-10};
    --global-purple-20: #{$purple-20};
    --global-purple-30: #{$purple-30};
    --global-purple-40: #{$purple-40};
    --global-purple-50: #{$purple-50};
    --global-purple-60: #{$purple-60};
    --global-purple-70: #{$purple-70};
    --global-purple-80: #{$purple-80};
    --global-purple-90: #{$purple-90};
    --global-purple-100: #{$purple-100};
    --global-red-10: #{$red-10};
    --global-red-20: #{$red-20};
    --global-red-30: #{$red-30};
    --global-red-40: #{$red-40};
    --global-red-50: #{$red-50};
    --global-red-60: #{$red-60};
    --global-red-70: #{$red-70};
    --global-red-80: #{$red-80};
    --global-red-90: #{$red-90};
    --global-red-100: #{$red-100};
    --global-teal-10: #{$teal-10};
    --global-teal-20: #{$teal-20};
    --global-teal-30: #{$teal-30};
    --global-teal-40: #{$teal-40};
    --global-teal-50: #{$teal-50};
    --global-teal-60: #{$teal-60};
    --global-teal-70: #{$teal-70};
    --global-teal-80: #{$teal-80};
    --global-teal-90: #{$teal-90};
    --global-teal-100: #{$teal-100};
    --global-yellow-10: #{$yellow-10};
    --global-yellow-20: #{$yellow-20};
    --global-yellow-30: #{$yellow-30};
    --global-yellow-40: #{$yellow-40};
    --global-yellow-50: #{$yellow-50};
    --global-yellow-60: #{$yellow-60};
    --global-yellow-70: #{$yellow-70};
    --global-yellow-80: #{$yellow-80};
    --global-yellow-90: #{$yellow-90};
    --global-yellow-100: #{$yellow-100};
    --global-blue-10-hover: #{$blue-10-hover};
    --global-blue-20-hover: #{$blue-20-hover};
    --global-blue-30-hover: #{$blue-30-hover};
    --global-blue-40-hover: #{$blue-40-hover};
    --global-blue-50-hover: #{$blue-50-hover};
    --global-blue-60-hover: #{$blue-60-hover};
    --global-blue-70-hover: #{$blue-70-hover};
    --global-blue-80-hover: #{$blue-80-hover};
    --global-blue-90-hover: #{$blue-90-hover};
    --global-blue-100-hover: #{$blue-100-hover};
    --global-cool-gray-10-hover: #{$cool-gray-10-hover};
    --global-cool-gray-20-hover: #{$cool-gray-20-hover};
    --global-cool-gray-30-hover: #{$cool-gray-30-hover};
    --global-cool-gray-40-hover: #{$cool-gray-40-hover};
    --global-cool-gray-50-hover: #{$cool-gray-50-hover};
    --global-cool-gray-60-hover: #{$cool-gray-60-hover};
    --global-cool-gray-70-hover: #{$cool-gray-70-hover};
    --global-cool-gray-80-hover: #{$cool-gray-80-hover};
    --global-cool-gray-90-hover: #{$cool-gray-90-hover};
    --global-cool-gray-100-hover: #{$cool-gray-100-hover};
    --global-cyan-10-hover: #{$cyan-10-hover};
    --global-cyan-20-hover: #{$cyan-20-hover};
    --global-cyan-30-hover: #{$cyan-30-hover};
    --global-cyan-40-hover: #{$cyan-40-hover};
    --global-cyan-50-hover: #{$cyan-50-hover};
    --global-cyan-60-hover: #{$cyan-60-hover};
    --global-cyan-70-hover: #{$cyan-70-hover};
    --global-cyan-80-hover: #{$cyan-80-hover};
    --global-cyan-90-hover: #{$cyan-90-hover};
    --global-cyan-100-hover: #{$cyan-100-hover};
    --global-gray-10-hover: #{$gray-10-hover};
    --global-gray-20-hover: #{$gray-20-hover};
    --global-gray-30-hover: #{$gray-30-hover};
    --global-gray-40-hover: #{$gray-40-hover};
    --global-gray-50-hover: #{$gray-50-hover};
    --global-gray-60-hover: #{$gray-60-hover};
    --global-gray-70-hover: #{$gray-70-hover};
    --global-gray-80-hover: #{$gray-80-hover};
    --global-gray-90-hover: #{$gray-90-hover};
    --global-gray-100-hover: #{$gray-100-hover};
    --global-green-10-hover: #{$green-10-hover};
    --global-green-20-hover: #{$green-20-hover};
    --global-green-30-hover: #{$green-30-hover};
    --global-green-40-hover: #{$green-40-hover};
    --global-green-50-hover: #{$green-50-hover};
    --global-green-60-hover: #{$green-60-hover};
    --global-green-70-hover: #{$green-70-hover};
    --global-green-80-hover: #{$green-80-hover};
    --global-green-90-hover: #{$green-90-hover};
    --global-green-100-hover: #{$green-100-hover};
    --global-magenta-10-hover: #{$magenta-10-hover};
    --global-magenta-20-hover: #{$magenta-20-hover};
    --global-magenta-30-hover: #{$magenta-30-hover};
    --global-magenta-40-hover: #{$magenta-40-hover};
    --global-magenta-50-hover: #{$magenta-50-hover};
    --global-magenta-60-hover: #{$magenta-60-hover};
    --global-magenta-70-hover: #{$magenta-70-hover};
    --global-magenta-80-hover: #{$magenta-80-hover};
    --global-magenta-90-hover: #{$magenta-90-hover};
    --global-magenta-100-hover: #{$magenta-100-hover};
    --global-orange-10-hover: #{$orange-10-hover};
    --global-orange-20-hover: #{$orange-20-hover};
    --global-orange-30-hover: #{$orange-30-hover};
    --global-orange-40-hover: #{$orange-40-hover};
    --global-orange-50-hover: #{$orange-50-hover};
    --global-orange-60-hover: #{$orange-60-hover};
    --global-orange-70-hover: #{$orange-70-hover};
    --global-orange-80-hover: #{$orange-80-hover};
    --global-orange-90-hover: #{$orange-90-hover};
    --global-orange-100-hover: #{$orange-100-hover};
    --global-purple-10-hover: #{$purple-10-hover};
    --global-purple-20-hover: #{$purple-20-hover};
    --global-purple-30-hover: #{$purple-30-hover};
    --global-purple-40-hover: #{$purple-40-hover};
    --global-purple-50-hover: #{$purple-50-hover};
    --global-purple-60-hover: #{$purple-60-hover};
    --global-purple-70-hover: #{$purple-70-hover};
    --global-purple-80-hover: #{$purple-80-hover};
    --global-purple-90-hover: #{$purple-90-hover};
    --global-purple-100-hover: #{$purple-100-hover};
    --global-red-10-hover: #{$red-10-hover};
    --global-red-20-hover: #{$red-20-hover};
    --global-red-30-hover: #{$red-30-hover};
    --global-red-40-hover: #{$red-40-hover};
    --global-red-50-hover: #{$red-50-hover};
    --global-red-60-hover: #{$red-60-hover};
    --global-red-70-hover: #{$red-70-hover};
    --global-red-80-hover: #{$red-80-hover};
    --global-red-90-hover: #{$red-90-hover};
    --global-red-100-hover: #{$red-100-hover};
    --global-teal-10-hover: #{$teal-10-hover};
    --global-teal-20-hover: #{$teal-20-hover};
    --global-teal-30-hover: #{$teal-30-hover};
    --global-teal-40-hover: #{$teal-40-hover};
    --global-teal-50-hover: #{$teal-50-hover};
    --global-teal-60-hover: #{$teal-60-hover};
    --global-teal-70-hover: #{$teal-70-hover};
    --global-teal-80-hover: #{$teal-80-hover};
    --global-teal-90-hover: #{$teal-90-hover};
    --global-teal-100-hover: #{$teal-100-hover};
    --global-warm-gray-10-hover: #{$warm-gray-10-hover};
    --global-warm-gray-20-hover: #{$warm-gray-20-hover};
    --global-warm-gray-30-hover: #{$warm-gray-30-hover};
    --global-warm-gray-40-hover: #{$warm-gray-40-hover};
    --global-warm-gray-50-hover: #{$warm-gray-50-hover};
    --global-warm-gray-60-hover: #{$warm-gray-60-hover};
    --global-warm-gray-70-hover: #{$warm-gray-70-hover};
    --global-warm-gray-80-hover: #{$warm-gray-80-hover};
    --global-warm-gray-90-hover: #{$warm-gray-90-hover};
    --global-warm-gray-100-hover: #{$warm-gray-100-hover};
    --global-yellow-10-hover: #{$yellow-10-hover};
    --global-yellow-20-hover: #{$yellow-20-hover};
    --global-yellow-30-hover: #{$yellow-30-hover};
    --global-yellow-40-hover: #{$yellow-40-hover};
    --global-yellow-50-hover: #{$yellow-50-hover};
    --global-yellow-60-hover: #{$yellow-60-hover};
    --global-yellow-70-hover: #{$yellow-70-hover};
    --global-yellow-80-hover: #{$yellow-80-hover};
    --global-yellow-90-hover: #{$yellow-90-hover};
    --global-yellow-100-hover: #{$yellow-100-hover};

    --global-background: #{$background};
    --global-background-01: #{$background-01};
    --global-background-secondary: #{$background-secondary};
    --global-background-table: #{$background-table};
    --global-background-table-header: #{$background-table-header};
    --global-background-table-header-hover: #{$background-table-header-hover};
    --global-background-inverse: #{$background-inverse};
    --global-background-brand: #{$background-brand};
    --global-background-active: #{$background-active};
    // --global-background-focus: #{$background-focus};
    --global-background-hover: #{$background-hover};
    --global-background-hover-subtle-01: #{$background-hover-subtle-01};
    --global-background-hover-subtle-02: #{$background-hover-subtle-02};
    --global-background-hover-subtle-03: #{$background-hover-subtle-03};
    --global-background-inverse-hover: #{$background-inverse-hover};
    --global-background-selected: #{$background-selected};
    --global-background-selected-hover: #{$background-selected-hover};
    --global-layer-01: #{$layer-01};
    --global-layer-active-01: #{$layer-active-01};
    --global-layer-hover-01: #{$layer-hover-01};
    --global-layer-selected-01: #{$layer-selected-01};
    --global-layer-selected-hover-01: #{$layer-selected-hover-01};
    --global-layer-02: #{$layer-02};
    --global-layer-active-02: #{$layer-active-02};
    --global-layer-hover-02: #{$layer-hover-02};
    --global-layer-selected-02: #{$layer-selected-02};
    --global-layer-selected-hover-02: #{$layer-selected-hover-02};
    --global-layer-03: #{$layer-03};
    --global-layer-active-03: #{$layer-active-03};
    --global-layer-hover-03: #{$layer-hover-03};
    --global-layer-selected-03: #{$layer-selected-03};
    --global-layer-selected-hover-03: #{$layer-selected-hover-03};
    // --global-layer-disabled: #{$layer-disabled};
    --global-layer-selected-inverse: #{$layer-selected-inverse};
    --global-layer-selected-disabled: #{$layer-selected-disabled};
    --global-layer-accent-01: #{$layer-accent-01};
    --global-layer-accent-active-01: #{$layer-accent-active-01};
    --global-layer-accent-hover-01: #{$layer-accent-hover-01};
    --global-layer-accent-02: #{$layer-accent-02};
    --global-layer-accent-active-02: #{$layer-accent-active-02};
    --global-layer-accent-hover-02: #{$layer-accent-hover-02};
    --global-layer-accent-03: #{$layer-accent-03};
    --global-layer-accent-active-03: #{$layer-accent-active-03};
    --global-layer-accent-hover-03: #{$layer-accent-hover-03};
    --global-field: #{$field-01};
    --global-field-01: #{$field-01};
    --global-field-hover-01: #{$field-hover-01};
    --global-field-02: #{$field-02};
    --global-field-hover-02: #{$field-hover-02};
    --global-field-03: #{$field-03};
    --global-field-hover-03: #{$field-hover-03};
    --global-field-active-hover-01: #{$field-active-hover-01};

    // --global-field-disabled: #{$field-disabled};
    --global-border-subtle-00: #{$border-subtle-00};
    --global-border-subtle-01: #{$border-subtle-01};
    --global-border-subtle-selected-01: #{$border-subtle-selected-01};
    --global-border-subtle-02: #{$border-subtle-02};
    --global-border-subtle-selected-02: #{$border-subtle-selected-02};
    --global-border-subtle-03: #{$border-subtle-03};
    --global-border-subtle-selected-03: #{$border-subtle-selected-03};
    --global-border-strong-01: #{$border-strong-01};
    --global-border-strong-02: #{$border-strong-02};
    --global-border-strong-03: #{$border-strong-03};
    --global-border-inverse: #{$border-inverse};
    --global-border-interactive: #{$border-interactive};
    --global-border-disabled: #{$border-disabled};
    --global-text-primary: #{$text-primary};
    --global-text-secondary: #{$text-secondary};
    --global-text-placeholder: #{$text-placeholder};
    --global-text-helper: #{$text-helper};
    --global-text-error: #{$text-error};
    --global-text-inverse: #{$text-inverse};
    --global-text-on-color: #{$text-on-color};
    --global-text-on-color-disabled: #{$text-on-color-disabled};
    --global-text-disabled: #{$text-disabled};
    --global-link-primary: #{$link-primary};
    --global-link-primary-hover: #{$link-primary-hover};
    --global-link-secondary: #{$link-secondary};
    --global-link-inverse: #{$link-inverse};
    --global-link-visited: #{$link-visited};
    --global-icon-primary: #{$icon-primary};
    --global-icon-secondary: #{$icon-secondary};
    --global-icon-inverse: #{$icon-inverse};
    --global-icon-on-color: #{$icon-on-color};
    --global-icon-on-color-disabled: #{$icon-on-color-disabled};
    --global-icon-disabled: #{$icon-disabled};
    --global-support-error: #{$support-error};
    --global-support-success: #{$support-success};
    --global-support-warning: #{$support-warning};
    --global-support-info: #{$support-info};
    --global-support-error-inverse: #{$support-error-inverse};
    --global-support-success-inverse: #{$support-success-inverse};
    --global-support-warning-inverse: #{$support-warning-inverse};
    --global-support-info-inverse: #{$support-info-inverse};
    --global-support-caution-minor: #{$support-caution-minor};
    --global-support-caution-major: #{$support-caution-major};
    --global-support-caution-undefined: #{$support-caution-undefined};
    --global-focus: #{$focus};
    --global-focus-inset: #{$focus-inset};
    --global-focus-inverse: #{$focus-inverse};
    --global-skeleton-background: #{$skeleton-background};
    --global-skeleton-element: #{$skeleton-element};
    --global-interactive: #{$interactive};
    --global-highlight: #{$highlight};
    --global-overlay: #{$overlay};
    --global-toggle-off: #{$toggle-off};
    --global-shadow: #{$shadow};

    --global-background-button-primary: #{$button-background-primary};
    --global-background-button-primary-hover: #{$button-background-primary-hover};
    --global-background-button-primary-active-focus: #{$button-background-primary-active-focus};
    --global-background-button-primary-active-focus-hover: #{$button-background-primary-active-focus-hover};

    --global-background-button-secondary: #{$button-background-secondary};
    --global-background-button-secondary-hover: #{$button-background-secondary-hover};

    --global-background-button-tertiary: #{$button-background-tertiary};

    --global-background-button-ghost: #{$button-background-ghost};
    --global-background-button-ghost-hover: #{$button-background-ghost-hover};
    --global-background-button-ghost-active-focus: #{$button-background-ghost-active-focus};
    --global-background-button-ghost-active-focus-hover: #{$button-background-ghost-active-focus-hover};

    --global-background-button-danger: #{$button-background-danger};
}
