@use ".." as *;

.row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: normal;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.column {
    box-sizing: border-box;
    min-height: 1px;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    flex: 1 0 0px;
    margin-left: 0%;
    right: auto;
    left: auto;

    &.max-content {
        max-width: fit-content;
    }
}