.ring {}

.ring:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 5px solid var(--global-border-subtle-00);
    border-color: var(--global-border-subtle-01) var(--global-border-subtle-00) var(--global-border-strong-01);
    animation: ring 0.75s linear infinite;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.double {
    display: inline-block;
}

.double:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 5px solid var(--global-border-subtle-00);
    border-color: var(--global-border-subtle-01) transparent var(--global-border-strong-01);
    animation: double 0.75s linear infinite;
}

@keyframes double {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.row {
    height: 42px;
}

.column {
    left: 70px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.circle {
    position: absolute;
}

//.column:first-of-type {
//    margin-left: 1.0rem;
//}