$Prefix: "cds";

.global-actions-primary-menu {
    #global-menu-notifications {
        text-align: center;
    }

    #global-menu-profile {
        text-align: center;
    }

    #global-menu-switcher {
        text-align: center;
    }

    & > button.#{$Prefix}--btn {
        text-align: center;
    }

    .#{$Prefix}--header__action--active {
        border-top: 1px solid var(--cds-border-subtle);
    }
}
