.io-profile-popover {
    opacity:         1;

    pointer-events:  auto;

    display:         flex;
    flex-direction:  column;
    justify-content: space-between;

    will-change:     opacity, background;
    transition:      opacity 225ms, background 225ms;

    background:      var(--cds-background);
    border-width:    1px;
    border-style:    solid;
    border-color:    var(--cds-border-subtle);
    border-radius:   0.25rem;

    position:        fixed;
    width:           20rem;
    top:             3.5rem;
    right:           0.5rem;

    margin:          0.0rem;

    z-index:         1;

    hr {
        border:       0.5px solid var(--cds-border-subtle);
        margin-top:   0.0rem;
        margin-left:  0.5rem;
        margin-right: 0.5rem;
    }

    .io-profile-popover-icon-container {
        margin:      auto;
        padding-top: 2px;
    }

    .io-profile-popover-icon {
        width:   40px;
        height:  40px;
        padding: 0.25rem;
        margin:  auto;
    }

    .io-profile-popover-icon-edit {
        border-radius: 50%;
        border:        2px solid white;
    }

    .io-profile-popover-icon-edit:hover {
        cursor: pointer;
    }

    .io-profile-popover-icon {
        border-radius: 50%;
        border:        2px solid white;
    }

    .io-profile-popover-container {
        display:    flex;
        width:      100%;

        text-align: center;
        height:     auto;

        padding:    0.5rem;
        margin:     auto;
    }

    .io-profile-popover-header {
        display:         grid;
        height:          fit-content;
        width:           min-content;
        text-align:      center;
        margin:          auto;
        padding:         0.25rem;

        justify-content: space-around;

        .io-profile-popover-header-text {
            display:        flex;
            margin:         auto;
            font-weight:    bold;
            vertical-align: middle;

            font-size:      1.115rem;
        }

        .io-profile-popover-header-label {
            font-size:  0.75rem;
            margin-top: 0.25rem;
        }
    }

    .io-profile-popover-body {
        height: 100%;
    }
}

.io-profile-popover-hidden {
    opacity:        0;

    pointer-events: none;
}

.io-profile-popover-footer {
    font-size:       var(--cds-body-short-01-font-size, 0.875rem);
    font-weight:     var(--cds-body-short-01-font-weight, 400);
    line-height:     var(--cds-body-short-01-line-height, 1.28572);
    letter-spacing:  var(--cds-body-short-01-letter-spacing, 0.16px);
    display:         flex;
    align-items:     center;
    justify-content: space-between;
    padding:         0.625rem 0.625rem;
    margin-top:      0.125rem;
    border-top:      0.0625rem solid var(--cds-border-subtle);

    .io-profile-popover-footer-logout-button {
        max-width: 0;
    }

    .io-profile-popover-footer-settings-icon {
        margin-top:    auto;
        margin-bottom: auto;
        margin-left:   0.25rem;
        margin-right:  0.25rem;
        height:        15px;
        width:         15px;
    }
}