.splitter {
    border-style:  double;
    color:         var(--cds-border-subtle);
    margin-left:   0.5rem;
    margin-right:  0.5rem;
    height:        1.75rem;
    width:         0px;
    margin-top:    auto;
    margin-bottom: auto;
}