.component {}

@mixin productive-motion () {
    // transition: all 150ms cubic-bezier(0.2, 0.2, 0.38, 0.9);
    transition: all 100ms cubic-bezier(.2, 0, .38, .9);
}

.modal {
    @include productive-motion();

    max-width: 400px;
    min-height: 200px;
    padding: 10px;
    background-color: whitesmoke;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -250px;
    z-index: 1;

    .header {
        font-size: 20px;
        text-align: center;
        padding-bottom: 20px;
        font-weight: bold;
    }

    .box {
        text-align: center;
    }

    button {
        padding: 10px;
    }
}
