.body {
    * {
        border: 0px solid transparent;
    }

    *:hover {
        border: 0px solid transparent;
    }

    & .row {
        border: 0px solid transparent;

        &:hover {
            border: 0px solid transparent;
        }
    }

    & .row {
        .tag {
            margin: 0.25rem;
        }

        //.tag:not(:last-of-type) {
        //    margin-right: 0.5rem;
        //}
    }

    //& .row:hover {
    //    background-color: var(--cds-background-hover) !important;
    //}
}