tr.cds--parent-row.cds--data-table--selected:not(.cds--expandable-row):hover td {
    border-top: 1px solid var(--cds-layer-selected-hover);
    border-bottom: 1px solid var(--cds-border-subtle);
    background: var(--cds-layer-selected-hover);
    box-shadow: 0 1px var(--cds-layer-selected-hover);
}
