.io-api-key-modal {
    .bx--modal-container--sm .bx--modal-header {
        margin-bottom: unset;
    }

    .bx--modal-content {
        padding-top: 0.15rem;
        margin-bottom: unset;

        .io-api-modal-resource-access-selection {
            margin-bottom: 3.0rem;
        }

        .io-api-key-modal-scopes-section {
            legend.bx--label {
                margin-bottom: 0.725rem;
            }
        }
    }
    .bx--modal-close {
        display: none;
    }
}
