.cds--toolbar-search-container-persistent .cds--search-input {
    padding: 0;
}

.cds--search-close:focus, .cds--search-button:focus {
    //outline-width: 1px;
    outline-offset: -10px;
}

.cds--search-input:focus ~ .cds--search-close:hover {
    //outline-width: 1px;
    outline-offset: -10px;
    outline-color: var(--cds-border);
}

.cds--search-close:active, .cds--search-button:active {
    //outline-width: 1px;
    background-color: transparent;
    outline-offset: -10px;
    outline-color: var(--cds-border);
}

.cds--search-close, .cds--search-button {
    //outline-width: 1px;
    outline-offset: -10px;
}

.cds--search-close:active, .cds--search-button:active, .cds--search-close:focus, .cds--search-button:focus {
    outline-offset: -10px;
    //outline-width: 1px;
    outline-color: var(--cds-border);
}
