.component {
}

@mixin productive-motion() {
    // transition: all 150ms cubic-bezier(0.2, 0.2, 0.38, 0.9);
    transition: all 100ms cubic-bezier(.2, 0, .38, .9);
}

@mixin hover() {
    tr {
        will-change: background;

        td {
            will-change: background;
        }
    }
}

@mixin apply-hover($color: var(--global-background-hover)) {
    @include hover();

    thead {
        text-align: left;
        vertical-align: middle;

        tr:first-of-type:hover {
            background-color: var(--global-background-table-header-hover);
        }
    }

    tbody {
        tr:hover {
            background-color: var(--global-background-hover-subtle-01);
        }
    }

    tfoot {
        tr:hover {
            background-color: var(--global-background-hover-subtle-01);
        }
    }
}

@mixin vertical-strips() {
    td:nth-child(odd) {
        background-color: rgba(255, 255, 255, 0.5);
    }

    td:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

table, tbody, tr, td {
    margin: 0;
    padding: 0;
    border: 0;
    border-spacing: 0;

    will-change: height;

    @include productive-motion();
}

.toolbar {
    width: 100%;
    display: inline-flex;
    height: auto;

    will-change: opacity;
    @include productive-motion();
}

.active {
    opacity: 1.0;
    will-change: opacity;
    display: inline-flex;
    @include productive-motion();
}

span.active {
    width: 100%;
}

.hidden {
    opacity: 0.0;
    will-change: opacity;
    display: inline-flex;
    @include productive-motion();
}

.container {
    background: var(--global-background-table);
    overflow-x: auto;
}

.modal {
    max-width: 400px;
    min-height: 200px;
    padding: 10px;
    background-color: whitesmoke;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -250px;
    transition: top 0.5s ease-out;
    z-index: 1;

    .mheader {
        font-size: 20px;
        text-align: center;
        padding-bottom: 20px;
        font-weight: bold;
    }

    .btnbox {
        text-align: center;
    }

    button {
        padding: 10px;
    }
}

table.component {
    width: 100%;
    background-color: var(--global-background-table);

    .caption {
        text-align: left;

        span:first-of-type {
            padding-left: 1.0rem;
            padding-top: 0.5rem;
            margin-bottom: 1.0rem;
        }

        border: var(--global-border-subtle-00) solid 1.0px;

        border-bottom: var(--global-background-table-header) solid 1.0px;
    }

    .text {
        font-size: 16px;
    }

    td {
        padding-left: 1.0rem;
        padding-right: 1.0rem;
        border-bottom: var(--global-border-subtle-00) solid 1.0px;
    }

    td:first-of-type {
        width: 32px;
        max-width: 32px;

        padding-left: 0.35rem;
        padding-right: 0.35rem;

        border-left: var(--global-border-subtle-00) solid 1.0px;

        svg {
            width: 32px;
            max-width: 32px;
        }
    }

    td:last-of-type {
        border-right: var(--global-border-subtle-00) solid 1.0px;
    }

    thead:first-of-type {
        background-color: var(--global-background-table-header);
        font-weight: 600;
    }

    &.hover {
        @include apply-hover();
    }

    &.vertical {
        @include vertical-strips();
    }

    .row {
    }

    .cell {
        display: block;
        width: 100%;
        cursor: crosshair;
    }

    .checkbox {
        &:hover {
            cursor: pointer;
        }

        display: flex;
        margin-left: 0;
        margin-right: auto;

        & + input[type=checkbox] {
            display: none;
        }
    }
}

.hide {
    display: none;
}