@mixin productive-motion() {
    // transition: all 150ms cubic-bezier(0.2, 0.2, 0.38, 0.9);
    transition: all 100ms cubic-bezier(.2, 0, .38, .9);
}

.pagination {
    align-items: center;
    background-color: var(--global-layer-01);
    border: 0;
    border-top: unset;
    border-right: 1px solid var(--global-border-subtle-00);
    border-left: 1px solid var(--global-border-subtle-00);
    border-bottom: 1px solid var(--global-border-subtle-00);
    box-sizing: border-box;
    display: flex;
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 400;
    justify-content: space-between;
    letter-spacing: 0.16px;
    line-height: 1.285;
    margin: 0;
    min-height: 2.0rem;
    overflow-x: auto;
    padding: 0;
    vertical-align: initial;
    width: auto;

    .active {
        display: flex;
        opacity: 1.0;
        user-select: none;
        cursor: text;
    }

    .disabled {
        display: none;
        opacity: 0.0;
        user-select: none;
        cursor: default;
    }

    .total {
        margin-right: 0.5rem;
    }

    .left {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        align-items: center;
        display: flex;
        height: 100%;
        width: auto;
    }

    .selected {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        align-items: center;
        height: 100%;
        width: auto;
    }

    .right {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        align-items: center;
        display: flex;
        height: 100%;
        width: auto;
    }

    select {
        /* for Firefox */
        -moz-appearance: none;
        /* for Chrome */
        -webkit-appearance: none;

        &::-ms-expand {
            display: none;
        }

        appearance: none;

        border-left: var(--global-background-table-header) solid 1px;
        border-right: var(--global-background-table-header) solid 1px;
        border-top: none;
        border-bottom: none;
        background-color: var(--global-background-table);
        color: white;
        height: 2.0rem;
        min-width: min-content;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        cursor: pointer;

        font-weight: 500;

        @include productive-motion();

        &:hover {
            background-color: var(--global-background-hover-subtle-01);
        }

        &:focus {
            outline: 2px solid white;
            outline-offset: -2px;
        }
    }

    will-change: height;
}