@use "./../../../Application" as *;

@use "@carbon/react/scss/spacing" as Spacing;

.breadcrumb {
    display: flex;
    flex-wrap: initial;
    width: max-content;

    margin-left: 0.0rem;

    margin-top: Spacing.$spacing-05;
    margin-bottom: Spacing.$spacing-05;

    position: relative;

    @include disable-selection();

    & .crumb {
        display: inline;
    }
}
