@use "@carbon/react/scss/spacing" as Spacing;

.breadcrumb-skeleton {
    display: inline-flex;
    flex-wrap: initial;
    width: max-content;

    margin-left: 0.0rem;

    margin-top: Spacing.$spacing-05;
    margin-bottom: Spacing.$spacing-05;

    position: relative;
}

