@use "styles";

* { box-sizing: border-box }

html {
    min-height: 100%;
    position: relative;
    font-size: var(--global-font-size);
    font-family: var(--global-sans-font);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--global-black);

    background-attachment: scroll;
    background-clip: border-box;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-size: auto;

    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        word-break: break-word;
        overflow-wrap: break-word;

        font-size: var(--global-base-font-size);
        line-height: var(--global-line-height);

        color: var(--global-text-primary);

        main {
            padding: var(--global-page-padding);
            margin-top: var(--global-navigation-menu-height);
            margin-bottom: var(--global-footer-height);

            code, pre, pre span, kbd, samp {
                font-size: 1.075rem;
                font-family: var(--global-mono-font);
            }
        }
    }
}

/* -------------------
 --> Functional Mixins
*//*-----------------*/

// @Unselectable, Highlightable Element(s)

@mixin disable-selection { /*** Supported by Chrome, Edge, Opera and Firefox */
    // - [] @Task: Test on Mobile
    // >>> -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    // - [] @Task: Test on Mobile
    // >>> -webkit-touch-callout: none; /* iOS Safari */

    -webkit-user-select: none; /* Safari */
    -khtml-user-select:  none; /* Konqueror HTML */
    -moz-user-select:    none; /* Old versions of Firefox */
    -ms-user-select:     none; /* Internet Explorer/Edge */

    user-select:         none;
}

@mixin enable-selection-auto { /*** Supported by Chrome, Edge, Opera and Firefox */
    // - [] @Task: Test on Mobile
    // >>> -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    // - [] @Task: Test on Mobile
    // >>> -webkit-touch-callout: none; /* iOS Safari */

    -webkit-user-select: auto; /* Safari */
    -khtml-user-select:  auto; /* Konqueror HTML */
    -moz-user-select:    auto; /* Old versions of Firefox */
    -ms-user-select:     auto; /* Internet Explorer/Edge */

    user-select:         auto;
}

@mixin enable-selection-all { /*** Supported by Chrome, Edge, Opera and Firefox */
    // - [] @Task: Test on Mobile
    // >>> -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    // - [] @Task: Test on Mobile
    // >>> -webkit-touch-callout: none; /* iOS Safari */

    -webkit-user-select: all; /* Safari */
    -khtml-user-select:  all; /* Konqueror HTML */
    -moz-user-select:    all; /* Old versions of Firefox */
    -ms-user-select:     all; /* Internet Explorer/Edge */

    user-select:         all;
}

/* -------------------
 --> Utility Selectors
*//*-----------------*/

.no-select {
    @include disable-selection();
}

.unselectable {
    @include disable-selection();
}

.no-highlight {
    @include disable-selection();
}

.select-all {
    @include enable-selection-all();
}

.enable-select-all {
    @include enable-selection-all();
}

/*
    @Task -- Theme
    @media (prefers-color-scheme: dark) {
        [data-color-mode=auto][data-dark-theme=dark] {
            --color-example-1: red;
            --color-example-2: red;
            --color-example-3: red;
        }
    }

    @media (prefers-color-scheme: dark) {
        [data-color-mode=auto][data-dark-theme=dark] {
            --color-example-1: red;
            --color-example-2: red;
            --color-example-3: red;
        }
    }
*/

@mixin productive-motion () {
    transition: all 215ms cubic-bezier(0.2, 0.2, 0.38, 0.9);
}