.item {
    align-items: flex-start;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    /* @todo -- declare global variable */
    font-size: var(--global-body-compact-01-font-size, .875rem);
    font-weight: var(--global-body-compact-01-font-weight, 400);
    letter-spacing: var(--global-body-compact-01-letter-spacing, 0.16px);
    line-height: var(--global-body-compact-01-line-height, 1.28572);

    &:not(:first-of-type) {
        margin-top: 0.5rem;
    }

    &:last-of-type {
        margin-bottom: 0.5rem;
    }
}

/*** Outer Wrapper */
.outer {
    align-items: flex-start;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100%;
}

/*** Wrapper */
.wrapper {
    display: flex;
    position: relative;
    width: 100%;
}

.label {
    color: var(--global-text-secondary, #525252);
    display: inline-block;
    margin-bottom: 0.5rem;
    vertical-align: initial;

    user-select: none;

    /* @todo -- declare global variable */
    font-size: var(--global-label-01-font-size, 0.75rem);
    font-weight: var(--global-label-01-font-weight, 400);
    letter-spacing: var(--global-label-01-letter-spacing, 0.32px);
    line-height: var(--global-label-01-line-height, 1.33333);
}

.input {
    background-color: var(--global-field);
    border: none;
    color: var(--global-text-primary, #161616);
    font-family: inherit;
    height: 2.5rem;
    outline: 2px solid #0000;
    outline-offset: -2px;
    padding: 0 1rem;
    width: 100%;

    transition: background-color 100ms cubic-bezier(.2, 0, .38, .9), outline 100ms cubic-bezier(.2, 0, .38, .9);

    /* @todo -- declare global variable */
    border-bottom: 1px solid var(--global-white-100);

    /* @todo -- declare global variable */
    letter-spacing: var(--global-body-compact-01-letter-spacing, 0.16px);
    line-height: var(--global-body-compact-01-line-height, 1.28572);
    font-size: var(--global-body-compact-01-font-size, 1.0rem);
    font-weight: var(--global-body-compact-01-font-weight, 400);

    &:active, &:focus {
        outline: 2px solid var(--global-focus, #0f62fe);
        outline-offset: -2px;
    }

    &:hover {
        background-color: var(--global-field-hover-01);
    }

    &:active:hover, &:focus:hover { /* ... */
    }

    &:active:focus:hover {
        background-color: var(--global-field-active-hover-01);
    }
}

.area {
    background-color: var(--global-field);
    border: none;
    color: var(--global-text-primary, #161616);
    font-family: inherit;
    height: 100%;
    min-height: 2.5rem;
    min-width: 10rem;
    outline: 2px solid #0000;
    outline-offset: -2px;
    padding: 0.6875rem 1rem;
    resize: vertical;
    transition: background-color 100ms cubic-bezier(.2, 0, .38, .9), outline 100ms cubic-bezier(.2, 0, .38, .9);

    width: 100%;

    /* @todo -- declare global variable */
    // border-bottom: 1px solid var(--global-border-strong);
    border-bottom: 1px solid var(--global-white-100);
    font-size: var(--global-body-01-font-size, 0.875rem);
    font-weight: var(--global-body-01-font-weight, 400);
    letter-spacing: var(--global-body-01-letter-spacing, 0.16px);
    line-height: var(--global-body-01-line-height, 1.42857);

    &:active, &:focus {
        outline: 2px solid var(--global-focus, #0f62fe);
        outline-offset: -2px;
    }

    &:hover {
        background-color: var(--global-field-hover-01);
    }

    &:active:hover, &:focus:hover { /* ... */
    }

    &:active:focus:hover {
        background-color: var(--global-field-active-hover-01);
    }
}

.help {
    margin-top: 0.25rem;
    opacity: 1;
    width: 100%;
    z-index: 0;

    /* @todo -- declare global variable */
    color: var(--global-text-secondary, #525252);
    font-size: var(--global-helper-text-01-font-size, .75rem);
    letter-spacing: var(--global-helper-text-01-letter-spacing, .35px);
    line-height: var(--global-helper-text-01-line-height, 1.33333);

    user-select: auto;
}