$global-spacing-01: 0.125rem !default;
$global-spacing-02: 0.250rem !default;
$global-spacing-03: 0.500rem !default;
$global-spacing-04: 0.750rem !default;
$global-spacing-05: 1.000rem !default;
$global-spacing-06: 1.500rem !default;
$global-spacing-07: 2.000rem !default;
$global-spacing-08: 2.500rem !default;
$global-spacing-09: 3.000rem !default;
$global-spacing-10: 4.000rem !default;
$global-spacing-11: 5.000rem !default;
$global-spacing-12: 6.000rem !default;
$global-spacing-13: 10.00rem !default;

$spacing-01: $global-spacing-01 !default;
$spacing-02: $global-spacing-02 !default;
$spacing-03: $global-spacing-03 !default;
$spacing-04: $global-spacing-04 !default;
$spacing-05: $global-spacing-05 !default;
$spacing-06: $global-spacing-06 !default;
$spacing-07: $global-spacing-07 !default;
$spacing-08: $global-spacing-08 !default;
$spacing-09: $global-spacing-09 !default;
$spacing-10: $global-spacing-10 !default;
$spacing-11: $global-spacing-11 !default;
$spacing-12: $global-spacing-12 !default;
$spacing-13: $global-spacing-13 !default;

$global-spacing: (
        $global-spacing-01,
        $global-spacing-02,
        $global-spacing-03,
        $global-spacing-04,
        $global-spacing-05,
        $global-spacing-06,
        $global-spacing-07,
        $global-spacing-08,
        $global-spacing-09,
        $global-spacing-10,
        $global-spacing-11,
        $global-spacing-12,
        $global-spacing-13
);

$spacing: (
        spacing-01: $spacing-01,
        spacing-02: $spacing-02,
        spacing-03: $spacing-03,
        spacing-04: $spacing-04,
        spacing-05: $spacing-05,
        spacing-06: $spacing-06,
        spacing-07: $spacing-07,
        spacing-08: $spacing-08,
        spacing-09: $spacing-09,
        spacing-10: $spacing-10,
        spacing-11: $spacing-11,
        spacing-12: $spacing-12,
        spacing-13: $spacing-13,
);
